# Pin location constraints for the LT-XC5VLX330 board
# Derived (and cleaned up) from example designs.
# ME 040620
#
# Copyright 2020-2021 Matt Evans
# SPDX-License-Identifier: Apache-2.0 WITH SHL-2.1
#
# Licensed under the Solderpad Hardware License v 2.1 (the “License”); you may
# not use this file except in compliance with the License, or, at your option,
# the Apache License version 2.0. You may obtain a copy of the License at
#
#  https://solderpad.org/licenses/SHL-2.1/
#
# Unless required by applicable law or agreed to in writing, any work
# distributed under the License is distributed on an “AS IS” BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

NET XU[0]               IOSTANDARD=LVCMOS33 | LOC = AW1;
NET XU[1]               IOSTANDARD=LVCMOS33 | LOC = AV1;
NET XU[2]               IOSTANDARD=LVCMOS33 | LOC = AY2;
NET XU[3]               IOSTANDARD=LVCMOS33 | LOC = AW2;
NET XU[4]               IOSTANDARD=LVCMOS33 | LOC = BA2;
NET XU[5]               IOSTANDARD=LVCMOS33 | LOC = BA1;
NET XU[6]               IOSTANDARD=LVCMOS33 | LOC = AW3;
NET XU[7]               IOSTANDARD=LVCMOS33 | LOC = AY3;
NET XU[8]               IOSTANDARD=LVCMOS33 | LOC = BB3;
NET XU[9]               IOSTANDARD=LVCMOS33 | LOC = BB2;
NET XU[10]              IOSTANDARD=LVCMOS33 | LOC = AW5;
NET XU[11]              IOSTANDARD=LVCMOS33 | LOC = AY5;
NET XU[12]              IOSTANDARD=LVCMOS33 | LOC = BA4;
NET XU[13]              IOSTANDARD=LVCMOS33 | LOC = AY4;
NET XU[14]              IOSTANDARD=LVCMOS33 | LOC = BB4;
NET XU[15]              IOSTANDARD=LVCMOS33 | LOC = BA5;
NET XU[16]              IOSTANDARD=LVCMOS33 | LOC = BA7;
NET XU[17]              IOSTANDARD=LVCMOS33 | LOC = BB7;
NET XU[18]              IOSTANDARD=LVCMOS33 | LOC = AW6;
NET XU[19]              IOSTANDARD=LVCMOS33 | LOC = AW7;
NET XU[20]              IOSTANDARD=LVCMOS33 | LOC = BA6;
NET XU[21]              IOSTANDARD=LVCMOS33 | LOC = BB6;
NET XU[22]              IOSTANDARD=LVCMOS33 | LOC = AW8;
NET XU[23]              IOSTANDARD=LVCMOS33 | LOC = AY7;
NET XU[24]              IOSTANDARD=LVCMOS33 | LOC = BA9;
NET XU[25]              IOSTANDARD=LVCMOS33 | LOC = BB8;
NET XU[26]              IOSTANDARD=LVCMOS33 | LOC = AW10;
NET XU[27]              IOSTANDARD=LVCMOS33 | LOC = AY10;
NET XU[28]              IOSTANDARD=LVCMOS33 | LOC = BA10;
NET XU[29]              IOSTANDARD=LVCMOS33 | LOC = BB9;
NET XU[30]              IOSTANDARD=LVCMOS33 | LOC = AY9;
NET XU[31]              IOSTANDARD=LVCMOS33 | LOC = AY8;
NET XU[32]              IOSTANDARD=LVCMOS33 | LOC = AW12;
NET XU[33]              IOSTANDARD=LVCMOS33 | LOC = AW11;
NET XU[34]              IOSTANDARD=LVCMOS33 | LOC = BB12;
NET XU[35]              IOSTANDARD=LVCMOS33 | LOC = BA12;
NET XU[36]              IOSTANDARD=LVCMOS33 | LOC = BA11;
NET XU[37]              IOSTANDARD=LVCMOS33 | LOC = BB11;
NET XU[38]              IOSTANDARD=LVCMOS33 | LOC = AY12;
NET XU[39]              IOSTANDARD=LVCMOS33 | LOC = AY13;
NET XU[40]              IOSTANDARD=LVCMOS33 | LOC = AC6;
NET XU[41]              IOSTANDARD=LVCMOS33 | LOC = AB6;
NET XU[42]              IOSTANDARD=LVCMOS33 | LOC = AC5;
NET XU[43]              IOSTANDARD=LVCMOS33 | LOC = AC4;
NET XU[44]              IOSTANDARD=LVCMOS33 | LOC = AD3;
NET XU[45]              IOSTANDARD=LVCMOS33 | LOC = AC3;
NET XU[46]              IOSTANDARD=LVCMOS33 | LOC = AB4;
NET XU[47]              IOSTANDARD=LVCMOS33 | LOC = AB3;
NET XU[48]              IOSTANDARD=LVCMOS33 | LOC = AE3;
NET XU[49]              IOSTANDARD=LVCMOS33 | LOC = AD2;
NET XU[50]              IOSTANDARD=LVCMOS33 | LOC = AB1;
NET XU[51]              IOSTANDARD=LVCMOS33 | LOC = AB2;
NET XU[52]              IOSTANDARD=LVCMOS33 | LOC = AD1;
NET XU[53]              IOSTANDARD=LVCMOS33 | LOC = AC1;
NET XU[54]              IOSTANDARD=LVCMOS33 | LOC = AF1;
NET XU[55]              IOSTANDARD=LVCMOS33 | LOC = AE2;
NET XU[56]              IOSTANDARD=LVCMOS33 | LOC = AG2;
NET XU[57]              IOSTANDARD=LVCMOS33 | LOC = AF2;
NET XU[58]              IOSTANDARD=LVCMOS33 | LOC = AH3;
NET XU[59]              IOSTANDARD=LVCMOS33 | LOC = AG3;
NET XU[60]              IOSTANDARD=LVCMOS33 | LOC = AJ3;
NET XU[61]              IOSTANDARD=LVCMOS33 | LOC = AJ2;
NET XU[62]              IOSTANDARD=LVCMOS33 | LOC = AG1;
NET XU[63]              IOSTANDARD=LVCMOS33 | LOC = AH1;
NET XU[64]              IOSTANDARD=LVCMOS33 | LOC = AK3;
NET XU[65]              IOSTANDARD=LVCMOS33 | LOC = AL2;
NET XU[66]              IOSTANDARD=LVCMOS33 | LOC = AJ1;
NET XU[67]              IOSTANDARD=LVCMOS33 | LOC = AK2;
NET XU[68]              IOSTANDARD=LVCMOS33 | LOC = AM2;
NET XU[69]              IOSTANDARD=LVCMOS33 | LOC = AM3;
NET XU[70]              IOSTANDARD=LVCMOS33 | LOC = AL1;
NET XU[71]              IOSTANDARD=LVCMOS33 | LOC = AM1;
NET XU[72]              IOSTANDARD=LVCMOS33 | LOC = AP2;
NET XU[73]              IOSTANDARD=LVCMOS33 | LOC = AR2;
NET XU[74]              IOSTANDARD=LVCMOS33 | LOC = AN1;
NET XU[75]              IOSTANDARD=LVCMOS33 | LOC = AP1;
NET XU[76]              IOSTANDARD=LVCMOS33 | LOC = AT2;
NET XU[77]              IOSTANDARD=LVCMOS33 | LOC = AT1;
NET XU[78]              IOSTANDARD=LVCMOS33 | LOC = AU1;
NET XU[79]              IOSTANDARD=LVCMOS33 | LOC = AU2;
NET XU[80]              IOSTANDARD=LVCMOS33 | LOC = F6;
NET XU[81]              IOSTANDARD=LVCMOS33 | LOC = G6;
NET XU[82]              IOSTANDARD=LVCMOS33 | LOC = E5;
NET XU[83]              IOSTANDARD=LVCMOS33 | LOC = F5;
NET XU[84]              IOSTANDARD=LVCMOS33 | LOC = H6;
NET XU[85]              IOSTANDARD=LVCMOS33 | LOC = G7;
NET XU[86]              IOSTANDARD=LVCMOS33 | LOC = H5;
NET XU[87]              IOSTANDARD=LVCMOS33 | LOC = J5;
NET XU[88]              IOSTANDARD=LVCMOS33 | LOC = K7;
NET XU[89]              IOSTANDARD=LVCMOS33 | LOC = J7;
NET XU[90]              IOSTANDARD=LVCMOS33 | LOC = J6;
NET XU[91]              IOSTANDARD=LVCMOS33 | LOC = K5;
NET XU[92]              IOSTANDARD=LVCMOS33 | LOC = M6;
NET XU[93]              IOSTANDARD=LVCMOS33 | LOC = M7;
NET XU[94]              IOSTANDARD=LVCMOS33 | LOC = L6;
NET XU[95]              IOSTANDARD=LVCMOS33 | LOC = L7;
NET XU[96]              IOSTANDARD=LVCMOS33 | LOC = N9;
NET XU[97]              IOSTANDARD=LVCMOS33 | LOC = P8;
NET XU[98]              IOSTANDARD=LVCMOS33 | LOC = M9;
NET XU[99]              IOSTANDARD=LVCMOS33 | LOC = M8;
NET XU[100]             IOSTANDARD=LVCMOS33 | LOC = N8;
NET XU[101]             IOSTANDARD=LVCMOS33 | LOC = P7;
NET XU[102]             IOSTANDARD=LVCMOS33 | LOC = P6;
NET XU[103]             IOSTANDARD=LVCMOS33 | LOC = N6;
NET XU[104]             IOSTANDARD=LVCMOS33 | LOC = R10;
NET XU[105]             IOSTANDARD=LVCMOS33 | LOC = T10;
NET XU[106]             IOSTANDARD=LVCMOS33 | LOC = T9;
NET XU[107]             IOSTANDARD=LVCMOS33 | LOC = R9;
NET XU[108]             IOSTANDARD=LVCMOS33 | LOC = R8;
NET XU[109]             IOSTANDARD=LVCMOS33 | LOC = R7;
NET XU[110]             IOSTANDARD=LVCMOS33 | LOC = T7;
NET XU[111]             IOSTANDARD=LVCMOS33 | LOC = U7;
NET XU[112]             IOSTANDARD=LVCMOS33 | LOC = U9;
NET XU[113]             IOSTANDARD=LVCMOS33 | LOC = U8;
NET XU[114]             IOSTANDARD=LVCMOS33 | LOC = T11;
NET XU[115]             IOSTANDARD=LVCMOS33 | LOC = U11;
NET XU[116]             IOSTANDARD=LVCMOS33 | LOC = V8;
NET XU[117]             IOSTANDARD=LVCMOS33 | LOC = V9;
NET XU[118]             IOSTANDARD=LVCMOS33 | LOC = V10;
NET XU[119]             IOSTANDARD=LVCMOS33 | LOC = V11;
NET XU[120]             IOSTANDARD=LVCMOS33 | LOC = AU7;
NET XU[121]             IOSTANDARD=LVCMOS33 | LOC = AV6;
NET XU[122]             IOSTANDARD=LVCMOS33 | LOC = AV8;
NET XU[123]             IOSTANDARD=LVCMOS33 | LOC = AU8;
NET XU[124]             IOSTANDARD=LVCMOS33 | LOC = AU6;
NET XU[125]             IOSTANDARD=LVCMOS33 | LOC = AT7;
NET XU[126]             IOSTANDARD=LVCMOS33 | LOC = AR8;
NET XU[127]             IOSTANDARD=LVCMOS33 | LOC = AR7;
NET XU[128]             IOSTANDARD=LVCMOS33 | LOC = AT9;
NET XU[129]             IOSTANDARD=LVCMOS33 | LOC = AU9;
NET XU[130]             IOSTANDARD=LVCMOS33 | LOC = AV9;
NET XU[131]             IOSTANDARD=LVCMOS33 | LOC = AV10;
NET XU[132]             IOSTANDARD=LVCMOS33 | LOC = AU12;
NET XU[133]             IOSTANDARD=LVCMOS33 | LOC = AU13;
NET XU[134]             IOSTANDARD=LVCMOS33 | LOC = AU11;
NET XU[135]             IOSTANDARD=LVCMOS33 | LOC = AV11;
NET XU[136]             IOSTANDARD=LVCMOS33 | LOC = AT11;
NET XU[137]             IOSTANDARD=LVCMOS33 | LOC = AT10;
NET XU[138]             IOSTANDARD=LVCMOS33 | LOC = AR10;
NET XU[139]             IOSTANDARD=LVCMOS33 | LOC = AR9;
NET XU[140]             IOSTANDARD=LVCMOS33 | LOC = AT12;
NET XU[141]             IOSTANDARD=LVCMOS33 | LOC = AR12;
NET XU[142]             IOSTANDARD=LVCMOS33 | LOC = AP12;
NET XU[143]             IOSTANDARD=LVCMOS33 | LOC = AP11;

NET XL[0]               IOSTANDARD=LVCMOS33 | LOC = AC11;
NET XL[1]               IOSTANDARD=LVCMOS33 | LOC = AB11;
NET XL[2]               IOSTANDARD=LVCMOS33 | LOC = AD10;
NET XL[3]               IOSTANDARD=LVCMOS33 | LOC = AD11;
NET XL[4]               IOSTANDARD=LVCMOS33 | LOC = AC9;
NET XL[5]               IOSTANDARD=LVCMOS33 | LOC = AC10;
NET XL[6]               IOSTANDARD=LVCMOS33 | LOC = AB9;
NET XL[7]               IOSTANDARD=LVCMOS33 | LOC = AB8;
NET XL[8]               IOSTANDARD=LVCMOS33 | LOC = AB7;
NET XL[9]               IOSTANDARD=LVCMOS33 | LOC = AC8;
NET XL[10]              IOSTANDARD=LVCMOS33 | LOC = AE5;
NET XL[11]              IOSTANDARD=LVCMOS33 | LOC = AD5;
NET XL[12]              IOSTANDARD=LVCMOS33 | LOC = AE7;
NET XL[13]              IOSTANDARD=LVCMOS33 | LOC = AD6;
NET XL[14]              IOSTANDARD=LVCMOS33 | LOC = AD8;
NET XL[15]              IOSTANDARD=LVCMOS33 | LOC = AD7;
NET XL[16]              IOSTANDARD=LVCMOS33 | LOC = AF4;
NET XL[17]              IOSTANDARD=LVCMOS33 | LOC = AE4;
NET XL[18]              IOSTANDARD=LVCMOS33 | LOC = AF5;
NET XL[19]              IOSTANDARD=LVCMOS33 | LOC = AF6;
NET XL[20]              IOSTANDARD=LVCMOS33 | LOC = AH6;
NET XL[21]              IOSTANDARD=LVCMOS33 | LOC = AG6;
NET XL[22]              IOSTANDARD=LVCMOS33 | LOC = AG4;
NET XL[23]              IOSTANDARD=LVCMOS33 | LOC = AH4;
NET XL[24]              IOSTANDARD=LVCMOS33 | LOC = AK4;
NET XL[25]              IOSTANDARD=LVCMOS33 | LOC = AJ5;
NET XL[26]              IOSTANDARD=LVCMOS33 | LOC = AH5;
NET XL[27]              IOSTANDARD=LVCMOS33 | LOC = AJ6;
NET XL[28]              IOSTANDARD=LVCMOS33 | LOC = AL5;
NET XL[29]              IOSTANDARD=LVCMOS33 | LOC = AL6;
NET XL[30]              IOSTANDARD=LVCMOS33 | LOC = AL4;
NET XL[31]              IOSTANDARD=LVCMOS33 | LOC = AK5;
NET XL[32]              IOSTANDARD=LVCMOS33 | LOC = AN3;
NET XL[33]              IOSTANDARD=LVCMOS33 | LOC = AP3;
NET XL[34]              IOSTANDARD=LVCMOS33 | LOC = AM4;
NET XL[35]              IOSTANDARD=LVCMOS33 | LOC = AN4;
NET XL[36]              IOSTANDARD=LVCMOS33 | LOC = AR4;
NET XL[37]              IOSTANDARD=LVCMOS33 | LOC = AR3;
NET XL[38]              IOSTANDARD=LVCMOS33 | LOC = AN5;
NET XL[39]              IOSTANDARD=LVCMOS33 | LOC = AM6;
NET XL[40]              IOSTANDARD=LVCMOS33 | LOC = F4;
NET XL[41]              IOSTANDARD=LVCMOS33 | LOC = G4;
NET XL[42]              IOSTANDARD=LVCMOS33 | LOC = E4;
NET XL[43]              IOSTANDARD=LVCMOS33 | LOC = E3;
NET XL[44]              IOSTANDARD=LVCMOS33 | LOC = J3;
NET XL[45]              IOSTANDARD=LVCMOS33 | LOC = H4;
NET XL[46]              IOSTANDARD=LVCMOS33 | LOC = G3;
NET XL[47]              IOSTANDARD=LVCMOS33 | LOC = H3;
NET XL[48]              IOSTANDARD=LVCMOS33 | LOC = L4;
NET XL[49]              IOSTANDARD=LVCMOS33 | LOC = L5;
NET XL[50]              IOSTANDARD=LVCMOS33 | LOC = K4;
NET XL[51]              IOSTANDARD=LVCMOS33 | LOC = K3;
NET XL[52]              IOSTANDARD=LVCMOS33 | LOC = P5;
NET XL[53]              IOSTANDARD=LVCMOS33 | LOC = N5;
NET XL[54]              IOSTANDARD=LVCMOS33 | LOC = M4;
NET XL[55]              IOSTANDARD=LVCMOS33 | LOC = N4;
NET XL[56]              IOSTANDARD=LVCMOS33 | LOC = T5;
NET XL[57]              IOSTANDARD=LVCMOS33 | LOC = T6;
NET XL[58]              IOSTANDARD=LVCMOS33 | LOC = R4;
NET XL[59]              IOSTANDARD=LVCMOS33 | LOC = R5;
NET XL[60]              IOSTANDARD=LVCMOS33 | LOC = T4;
NET XL[61]              IOSTANDARD=LVCMOS33 | LOC = U4;
NET XL[62]              IOSTANDARD=LVCMOS33 | LOC = V5;
NET XL[63]              IOSTANDARD=LVCMOS33 | LOC = U6;
NET XL[64]              IOSTANDARD=LVCMOS33 | LOC = W8;
NET XL[65]              IOSTANDARD=LVCMOS33 | LOC = W7;
NET XL[66]              IOSTANDARD=LVCMOS33 | LOC = V6;
NET XL[67]              IOSTANDARD=LVCMOS33 | LOC = W5;
NET XL[68]              IOSTANDARD=LVCMOS33 | LOC = W6;
NET XL[69]              IOSTANDARD=LVCMOS33 | LOC = Y7;
NET XL[70]              IOSTANDARD=LVCMOS33 | LOC = AA6;
NET XL[71]              IOSTANDARD=LVCMOS33 | LOC = AA7;
NET XL[72]              IOSTANDARD=LVCMOS33 | LOC = AA9;
NET XL[73]              IOSTANDARD=LVCMOS33 | LOC = Y8;
NET XL[74]              IOSTANDARD=LVCMOS33 | LOC = Y9;
NET XL[75]              IOSTANDARD=LVCMOS33 | LOC = Y10;
NET XL[76]              IOSTANDARD=LVCMOS33 | LOC = W10;
NET XL[77]              IOSTANDARD=LVCMOS33 | LOC = W11;
NET XL[78]              IOSTANDARD=LVCMOS33 | LOC = AA10;
NET XL[79]              IOSTANDARD=LVCMOS33 | LOC = AA11;
NET XL[80]              IOSTANDARD=LVCMOS33 | LOC = F2;
NET XL[81]              IOSTANDARD=LVCMOS33 | LOC = E2;
NET XL[82]              IOSTANDARD=LVCMOS33 | LOC = F1;
NET XL[83]              IOSTANDARD=LVCMOS33 | LOC = G2;
NET XL[84]              IOSTANDARD=LVCMOS33 | LOC = J1;
NET XL[85]              IOSTANDARD=LVCMOS33 | LOC = J2;
NET XL[86]              IOSTANDARD=LVCMOS33 | LOC = H1;
NET XL[87]              IOSTANDARD=LVCMOS33 | LOC = G1;
NET XL[88]              IOSTANDARD=LVCMOS33 | LOC = M2;
NET XL[89]              IOSTANDARD=LVCMOS33 | LOC = L2;
NET XL[90]              IOSTANDARD=LVCMOS33 | LOC = L1;
NET XL[91]              IOSTANDARD=LVCMOS33 | LOC = K2;
NET XL[92]              IOSTANDARD=LVCMOS33 | LOC = N1;
NET XL[93]              IOSTANDARD=LVCMOS33 | LOC = M1;
NET XL[94]              IOSTANDARD=LVCMOS33 | LOC = N3;
NET XL[95]              IOSTANDARD=LVCMOS33 | LOC = M3;
NET XL[96]              IOSTANDARD=LVCMOS33 | LOC = R3;
NET XL[97]              IOSTANDARD=LVCMOS33 | LOC = P3;
NET XL[98]              IOSTANDARD=LVCMOS33 | LOC = P1;
NET XL[99]              IOSTANDARD=LVCMOS33 | LOC = P2;
NET XL[100]             IOSTANDARD=LVCMOS33 | LOC = T2;
NET XL[101]             IOSTANDARD=LVCMOS33 | LOC = R2;
NET XL[102]             IOSTANDARD=LVCMOS33 | LOC = T1;
NET XL[103]             IOSTANDARD=LVCMOS33 | LOC = U1;
NET XL[104]             IOSTANDARD=LVCMOS33 | LOC = U2;
NET XL[105]             IOSTANDARD=LVCMOS33 | LOC = U3;
NET XL[106]             IOSTANDARD=LVCMOS33 | LOC = V4;
NET XL[107]             IOSTANDARD=LVCMOS33 | LOC = V3;
NET XL[108]             IOSTANDARD=LVCMOS33 | LOC = W3;
NET XL[109]             IOSTANDARD=LVCMOS33 | LOC = W2;
NET XL[110]             IOSTANDARD=LVCMOS33 | LOC = V1;
NET XL[111]             IOSTANDARD=LVCMOS33 | LOC = W1;
NET XL[112]             IOSTANDARD=LVCMOS33 | LOC = Y4;
NET XL[113]             IOSTANDARD=LVCMOS33 | LOC = AA4;
NET XL[114]             IOSTANDARD=LVCMOS33 | LOC = AA5;
NET XL[115]             IOSTANDARD=LVCMOS33 | LOC = Y5;
NET XL[116]             IOSTANDARD=LVCMOS33 | LOC = AA2;
NET XL[117]             IOSTANDARD=LVCMOS33 | LOC = AA1;
NET XL[118]             IOSTANDARD=LVCMOS33 | LOC = Y3;
NET XL[119]             IOSTANDARD=LVCMOS33 | LOC = Y2;
NET XL[120]             IOSTANDARD=LVCMOS33 | LOC = AE10;
NET XL[121]             IOSTANDARD=LVCMOS33 | LOC = AF11;
NET XL[122]             IOSTANDARD=LVCMOS33 | LOC = AE8;
NET XL[123]             IOSTANDARD=LVCMOS33 | LOC = AE9;
NET XL[124]             IOSTANDARD=LVCMOS33 | LOC = AF9;
NET XL[125]             IOSTANDARD=LVCMOS33 | LOC = AF10;
NET XL[126]             IOSTANDARD=LVCMOS33 | LOC = AF7;
NET XL[127]             IOSTANDARD=LVCMOS33 | LOC = AG7;
NET XL[128]             IOSTANDARD=LVCMOS33 | LOC = AG8;
NET XL[129]             IOSTANDARD=LVCMOS33 | LOC = AH8;
NET XL[130]             IOSTANDARD=LVCMOS33 | LOC = AK7;
NET XL[131]             IOSTANDARD=LVCMOS33 | LOC = AJ7;
NET XL[132]             IOSTANDARD=LVCMOS33 | LOC = AJ8;
NET XL[133]             IOSTANDARD=LVCMOS33 | LOC = AH9;
NET XL[134]             IOSTANDARD=LVCMOS33 | LOC = AG9;
NET XL[135]             IOSTANDARD=LVCMOS33 | LOC = AH10;
NET XL[136]             IOSTANDARD=LVCMOS33 | LOC = AF12;
NET XL[137]             IOSTANDARD=LVCMOS33 | LOC = AG12;
NET XL[138]             IOSTANDARD=LVCMOS33 | LOC = AG11;
NET XL[139]             IOSTANDARD=LVCMOS33 | LOC = AH11;
NET XL[140]             IOSTANDARD=LVCMOS33 | LOC = AL7;
NET XL[141]             IOSTANDARD=LVCMOS33 | LOC = AK8;
NET XL[142]             IOSTANDARD=LVCMOS33 | LOC = AK9;
NET XL[143]             IOSTANDARD=LVCMOS33 | LOC = AL9;

NET YU[0]               IOSTANDARD=LVCMOS33 | LOC = AC34;
NET YU[1]               IOSTANDARD=LVCMOS33 | LOC = AB34;
NET YU[2]               IOSTANDARD=LVCMOS33 | LOC = AB36;
NET YU[3]               IOSTANDARD=LVCMOS33 | LOC = AC35;
NET YU[4]               IOSTANDARD=LVCMOS33 | LOC = AD35;
NET YU[5]               IOSTANDARD=LVCMOS33 | LOC = AC36;
NET YU[6]               IOSTANDARD=LVCMOS33 | LOC = AD37;
NET YU[7]               IOSTANDARD=LVCMOS33 | LOC = AD36;
NET YU[8]               IOSTANDARD=LVCMOS33 | LOC = AD38;
NET YU[9]               IOSTANDARD=LVCMOS33 | LOC = AE37;
NET YU[10]              IOSTANDARD=LVCMOS33 | LOC = AE38;
NET YU[11]              IOSTANDARD=LVCMOS33 | LOC = AE39;
NET YU[12]              IOSTANDARD=LVCMOS33 | LOC = AG38;
NET YU[13]              IOSTANDARD=LVCMOS33 | LOC = AF39;
NET YU[14]              IOSTANDARD=LVCMOS33 | LOC = AF37;
NET YU[15]              IOSTANDARD=LVCMOS33 | LOC = AG37;
NET YU[16]              IOSTANDARD=LVCMOS33 | LOC = AP40;
NET YU[17]              IOSTANDARD=LVCMOS33 | LOC = AN40;
NET YU[18]              IOSTANDARD=LVCMOS33 | LOC = AT40;
NET YU[19]              IOSTANDARD=LVCMOS33 | LOC = AR40;
NET YU[20]              IOSTANDARD=LVCMOS33 | LOC = AU39;
NET YU[21]              IOSTANDARD=LVCMOS33 | LOC = AV40;
NET YU[22]              IOSTANDARD=LVCMOS33 | LOC = AR39;
NET YU[23]              IOSTANDARD=LVCMOS33 | LOC = AT39;
NET YU[24]              IOSTANDARD=LVCMOS33 | LOC = AH39;
NET YU[25]              IOSTANDARD=LVCMOS33 | LOC = AG39;
NET YU[26]              IOSTANDARD=LVCMOS33 | LOC = AK39;
NET YU[27]              IOSTANDARD=LVCMOS33 | LOC = AJ38;
NET YU[28]              IOSTANDARD=LVCMOS33 | LOC = AK37;
NET YU[29]              IOSTANDARD=LVCMOS33 | LOC = AK38;
NET YU[30]              IOSTANDARD=LVCMOS33 | LOC = AH38;
NET YU[31]              IOSTANDARD=LVCMOS33 | LOC = AJ37;
NET YU[32]              IOSTANDARD=LVCMOS33 | LOC = AM39;
NET YU[33]              IOSTANDARD=LVCMOS33 | LOC = AL39;
NET YU[34]              IOSTANDARD=LVCMOS33 | LOC = AP38;
NET YU[35]              IOSTANDARD=LVCMOS33 | LOC = AN39;
NET YU[36]              IOSTANDARD=LVCMOS33 | LOC = AM38;
NET YU[37]              IOSTANDARD=LVCMOS33 | LOC = AN38;
NET YU[38]              IOSTANDARD=LVCMOS33 | LOC = AL37;
NET YU[39]              IOSTANDARD=LVCMOS33 | LOC = AM37;
NET YU[40]              IOSTANDARD=LVCMOS33 | LOC = AB42;
NET YU[41]              IOSTANDARD=LVCMOS33 | LOC = AB41;
NET YU[42]              IOSTANDARD=LVCMOS33 | LOC = AD42;
NET YU[43]              IOSTANDARD=LVCMOS33 | LOC = AC41;
NET YU[44]              IOSTANDARD=LVCMOS33 | LOC = AD41;
NET YU[45]              IOSTANDARD=LVCMOS33 | LOC = AE42;
NET YU[46]              IOSTANDARD=LVCMOS33 | LOC = AF42;
NET YU[47]              IOSTANDARD=LVCMOS33 | LOC = AF41;
NET YU[48]              IOSTANDARD=LVCMOS33 | LOC = AG41;
NET YU[49]              IOSTANDARD=LVCMOS33 | LOC = AF40;
NET YU[50]              IOSTANDARD=LVCMOS33 | LOC = AH41;
NET YU[51]              IOSTANDARD=LVCMOS33 | LOC = AG42;
NET YU[52]              IOSTANDARD=LVCMOS33 | LOC = AJ41;
NET YU[53]              IOSTANDARD=LVCMOS33 | LOC = AJ42;
NET YU[54]              IOSTANDARD=LVCMOS33 | LOC = AJ40;
NET YU[55]              IOSTANDARD=LVCMOS33 | LOC = AH40;
NET YU[56]              IOSTANDARD=LVCMOS33 | LOC = AB38;
NET YU[57]              IOSTANDARD=LVCMOS33 | LOC = N26;
NET YU[58]              IOSTANDARD=LVCMOS33 | LOC = AC38;
NET YU[59]              IOSTANDARD=LVCMOS33 | LOC = J13;
NET YU[60]              IOSTANDARD=LVCMOS33 | LOC = AD40;
NET YU[61]              IOSTANDARD=LVCMOS33 | LOC = M28;
NET YU[62]              IOSTANDARD=LVCMOS33 | LOC = AC39;
NET YU[63]              IOSTANDARD=LVCMOS33 | LOC = AC40;
NET YU[64]              IOSTANDARD=LVCMOS33 | LOC = AL40;
NET YU[65]              IOSTANDARD=LVCMOS33 | LOC = AK40;
NET YU[66]              IOSTANDARD=LVCMOS33 | LOC = AK42;
NET YU[67]              IOSTANDARD=LVCMOS33 | LOC = AL41;
NET YU[68]              IOSTANDARD=LVCMOS33 | LOC = AM42;
NET YU[69]              IOSTANDARD=LVCMOS33 | LOC = AL42;
NET YU[70]              IOSTANDARD=LVCMOS33 | LOC = AN41;
NET YU[71]              IOSTANDARD=LVCMOS33 | LOC = AM41;
NET YU[72]              IOSTANDARD=LVCMOS33 | LOC = AP41;
NET YU[73]              IOSTANDARD=LVCMOS33 | LOC = AP42;
NET YU[74]              IOSTANDARD=LVCMOS33 | LOC = AT42;
NET YU[75]              IOSTANDARD=LVCMOS33 | LOC = AR42;
NET YU[76]              IOSTANDARD=LVCMOS33 | LOC = AU41;
NET YU[77]              IOSTANDARD=LVCMOS33 | LOC = AT41;
NET YU[78]              IOSTANDARD=LVCMOS33 | LOC = AV41;
NET YU[79]              IOSTANDARD=LVCMOS33 | LOC = AU42;
NET YU[80]              IOSTANDARD=LVCMOS33 | LOC = H39;
NET YU[81]              IOSTANDARD=LVCMOS33 | LOC = H38;
NET YU[82]              IOSTANDARD=LVCMOS33 | LOC = G39;
NET YU[83]              IOSTANDARD=LVCMOS33 | LOC = G38;
NET YU[84]              IOSTANDARD=LVCMOS33 | LOC = F40;
NET YU[85]              IOSTANDARD=LVCMOS33 | LOC = F39;
NET YU[86]              IOSTANDARD=LVCMOS33 | LOC = E40;
NET YU[87]              IOSTANDARD=LVCMOS33 | LOC = E39;
NET YU[88]              IOSTANDARD=LVCMOS33 | LOC = R38;
NET YU[89]              IOSTANDARD=LVCMOS33 | LOC = R39;
NET YU[90]              IOSTANDARD=LVCMOS33 | LOC = P37;
NET YU[91]              IOSTANDARD=LVCMOS33 | LOC = R37;
NET YU[92]              IOSTANDARD=LVCMOS33 | LOC = N38;
NET YU[93]              IOSTANDARD=LVCMOS33 | LOC = P38;
NET YU[94]              IOSTANDARD=LVCMOS33 | LOC = M39;
NET YU[95]              IOSTANDARD=LVCMOS33 | LOC = N39;
NET YU[96]              IOSTANDARD=LVCMOS33 | LOC = L39;
NET YU[97]              IOSTANDARD=LVCMOS33 | LOC = M38;
NET YU[98]              IOSTANDARD=LVCMOS33 | LOC = J38;
NET YU[99]              IOSTANDARD=LVCMOS33 | LOC = K38;
NET YU[100]             IOSTANDARD=LVCMOS33 | LOC = J40;
NET YU[101]             IOSTANDARD=LVCMOS33 | LOC = H40;
NET YU[102]             IOSTANDARD=LVCMOS33 | LOC = K39;
NET YU[103]             IOSTANDARD=LVCMOS33 | LOC = K40;
NET YU[104]             IOSTANDARD=LVCMOS33 | LOC = U37;
NET YU[105]             IOSTANDARD=LVCMOS33 | LOC = V38;
NET YU[106]             IOSTANDARD=LVCMOS33 | LOC = U38;
NET YU[107]             IOSTANDARD=LVCMOS33 | LOC = T37;
NET YU[108]             IOSTANDARD=LVCMOS33 | LOC = U39;
NET YU[109]             IOSTANDARD=LVCMOS33 | LOC = T39;
NET YU[110]             IOSTANDARD=LVCMOS33 | LOC = W38;
NET YU[111]             IOSTANDARD=LVCMOS33 | LOC = V39;
NET YU[112]             IOSTANDARD=LVCMOS33 | LOC = AA36;
NET YU[113]             IOSTANDARD=LVCMOS33 | LOC = AA35;
NET YU[114]             IOSTANDARD=LVCMOS33 | LOC = Y34;
NET YU[115]             IOSTANDARD=LVCMOS33 | LOC = AA34;
NET YU[116]             IOSTANDARD=LVCMOS33 | LOC = W35;
NET YU[117]             IOSTANDARD=LVCMOS33 | LOC = Y35;
NET YU[118]             IOSTANDARD=LVCMOS33 | LOC = W37;
NET YU[119]             IOSTANDARD=LVCMOS33 | LOC = W36;
NET YU[120]             IOSTANDARD=LVCMOS33 | LOC = AF31;
NET YU[121]             IOSTANDARD=LVCMOS33 | LOC = AG31;
NET YU[122]             IOSTANDARD=LVCMOS33 | LOC = AG33;
NET YU[123]             IOSTANDARD=LVCMOS33 | LOC = AF32;
NET YU[124]             IOSTANDARD=LVCMOS33 | LOC = AG32;
NET YU[125]             IOSTANDARD=LVCMOS33 | LOC = AH33;
NET YU[126]             IOSTANDARD=LVCMOS33 | LOC = AJ31;
NET YU[127]             IOSTANDARD=LVCMOS33 | LOC = AH31;
NET YU[128]             IOSTANDARD=LVCMOS33 | LOC = AV36;
NET YU[129]             IOSTANDARD=LVCMOS33 | LOC = AV35;
NET YU[130]             IOSTANDARD=LVCMOS33 | LOC = AT35;
NET YU[131]             IOSTANDARD=LVCMOS33 | LOC = AU36;
NET YU[132]             IOSTANDARD=LVCMOS33 | LOC = AT34;
NET YU[133]             IOSTANDARD=LVCMOS33 | LOC = AU34;
NET YU[134]             IOSTANDARD=LVCMOS33 | LOC = AR34;
NET YU[135]             IOSTANDARD=LVCMOS33 | LOC = AR35;
NET YU[136]             IOSTANDARD=LVCMOS33 | LOC = AU33;
NET YU[137]             IOSTANDARD=LVCMOS33 | LOC = AU32;
NET YU[138]             IOSTANDARD=LVCMOS33 | LOC = AV34;
NET YU[139]             IOSTANDARD=LVCMOS33 | LOC = AV33;
NET YU[140]             IOSTANDARD=LVCMOS33 | LOC = AU31;
NET YU[141]             IOSTANDARD=LVCMOS33 | LOC = AV31;
NET YU[142]             IOSTANDARD=LVCMOS33 | LOC = AT31;
NET YU[143]             IOSTANDARD=LVCMOS33 | LOC = AT32;

NET YL[0]               IOSTANDARD=LVCMOS33 | LOC = AB32;
NET YL[1]               IOSTANDARD=LVCMOS33 | LOC = AB33;
NET YL[2]               IOSTANDARD=LVCMOS33 | LOC = AD32;
NET YL[3]               IOSTANDARD=LVCMOS33 | LOC = AC33;
NET YL[4]               IOSTANDARD=LVCMOS33 | LOC = AE32;
NET YL[5]               IOSTANDARD=LVCMOS33 | LOC = AD33;
NET YL[6]               IOSTANDARD=LVCMOS33 | LOC = AE34;
NET YL[7]               IOSTANDARD=LVCMOS33 | LOC = AE33;
NET YL[8]               IOSTANDARD=LVCMOS33 | LOC = AV38;
NET YL[9]               IOSTANDARD=LVCMOS33 | LOC = AV39;
NET YL[10]              IOSTANDARD=LVCMOS33 | LOC = AU37;
NET YL[11]              IOSTANDARD=LVCMOS33 | LOC = AU38;
NET YL[12]              IOSTANDARD=LVCMOS33 | LOC = AR38;
NET YL[13]              IOSTANDARD=LVCMOS33 | LOC = AT37;
NET YL[14]              IOSTANDARD=LVCMOS33 | LOC = AT36;
NET YL[15]              IOSTANDARD=LVCMOS33 | LOC = AR37;
NET YL[16]              IOSTANDARD=LVCMOS33 | LOC = AF34;
NET YL[17]              IOSTANDARD=LVCMOS33 | LOC = AE35;
NET YL[18]              IOSTANDARD=LVCMOS33 | LOC = AF36;
NET YL[19]              IOSTANDARD=LVCMOS33 | LOC = AF35;
NET YL[20]              IOSTANDARD=LVCMOS33 | LOC = AG34;
NET YL[21]              IOSTANDARD=LVCMOS33 | LOC = AH34;
NET YL[22]              IOSTANDARD=LVCMOS33 | LOC = AG36;
NET YL[23]              IOSTANDARD=LVCMOS33 | LOC = AH35;
NET YL[24]              IOSTANDARD=LVCMOS33 | LOC = AP36;
NET YL[25]              IOSTANDARD=LVCMOS33 | LOC = AP37;
NET YL[26]              IOSTANDARD=LVCMOS33 | LOC = AN36;
NET YL[27]              IOSTANDARD=LVCMOS33 | LOC = AP35;
NET YL[28]              IOSTANDARD=LVCMOS33 | LOC = AN35;
NET YL[29]              IOSTANDARD=LVCMOS33 | LOC = AM36;
NET YL[30]              IOSTANDARD=LVCMOS33 | LOC = AM34;
NET YL[31]              IOSTANDARD=LVCMOS33 | LOC = AN34;
NET YL[32]              IOSTANDARD=LVCMOS33 | LOC = AJ36;
NET YL[33]              IOSTANDARD=LVCMOS33 | LOC = AH36;
NET YL[34]              IOSTANDARD=LVCMOS33 | LOC = AK35;
NET YL[35]              IOSTANDARD=LVCMOS33 | LOC = AJ35;
NET YL[36]              IOSTANDARD=LVCMOS33 | LOC = AL35;
NET YL[37]              IOSTANDARD=LVCMOS33 | LOC = AL36;
NET YL[38]              IOSTANDARD=LVCMOS33 | LOC = AK34;
NET YL[39]              IOSTANDARD=LVCMOS33 | LOC = AL34;
NET YL[40]              IOSTANDARD=LVCMOS33 | LOC = G42;
NET YL[41]              IOSTANDARD=LVCMOS33 | LOC = F42;
NET YL[42]              IOSTANDARD=LVCMOS33 | LOC = G41;
NET YL[43]              IOSTANDARD=LVCMOS33 | LOC = F41;
NET YL[44]              IOSTANDARD=LVCMOS33 | LOC = J41;
NET YL[45]              IOSTANDARD=LVCMOS33 | LOC = H41;
NET YL[46]              IOSTANDARD=LVCMOS33 | LOC = K42;
NET YL[47]              IOSTANDARD=LVCMOS33 | LOC = J42;
NET YL[48]              IOSTANDARD=LVCMOS33 | LOC = L41;
NET YL[49]              IOSTANDARD=LVCMOS33 | LOC = L40;
NET YL[50]              IOSTANDARD=LVCMOS33 | LOC = M41;
NET YL[51]              IOSTANDARD=LVCMOS33 | LOC = L42;
NET YL[52]              IOSTANDARD=LVCMOS33 | LOC = N41;
NET YL[53]              IOSTANDARD=LVCMOS33 | LOC = M42;
NET YL[54]              IOSTANDARD=LVCMOS33 | LOC = P40;
NET YL[55]              IOSTANDARD=LVCMOS33 | LOC = N40;
NET YL[56]              IOSTANDARD=LVCMOS33 | LOC = Y40;
NET YL[57]              IOSTANDARD=LVCMOS33 | LOC = W40;
NET YL[58]              IOSTANDARD=LVCMOS33 | LOC = AA39;
NET YL[59]              IOSTANDARD=LVCMOS33 | LOC = AA40;
NET YL[60]              IOSTANDARD=LVCMOS33 | LOC = Y38;
NET YL[61]              IOSTANDARD=LVCMOS33 | LOC = Y39;
NET YL[62]              IOSTANDARD=LVCMOS33 | LOC = AA37;
NET YL[63]              IOSTANDARD=LVCMOS33 | LOC = Y37;
NET YL[64]              IOSTANDARD=LVCMOS33 | LOC = P42;
NET YL[65]              IOSTANDARD=LVCMOS33 | LOC = R42;
NET YL[66]              IOSTANDARD=LVCMOS33 | LOC = R40;
NET YL[67]              IOSTANDARD=LVCMOS33 | LOC = P41;
NET YL[68]              IOSTANDARD=LVCMOS33 | LOC = T41;
NET YL[69]              IOSTANDARD=LVCMOS33 | LOC = T40;
NET YL[70]              IOSTANDARD=LVCMOS33 | LOC = U41;
NET YL[71]              IOSTANDARD=LVCMOS33 | LOC = T42;
NET YL[72]              IOSTANDARD=LVCMOS33 | LOC = V41;
NET YL[73]              IOSTANDARD=LVCMOS33 | LOC = U42;
NET YL[74]              IOSTANDARD=LVCMOS33 | LOC = W41;
NET YL[75]              IOSTANDARD=LVCMOS33 | LOC = V40;
NET YL[76]              IOSTANDARD=LVCMOS33 | LOC = Y42;
NET YL[77]              IOSTANDARD=LVCMOS33 | LOC = W42;
NET YL[78]              IOSTANDARD=LVCMOS33 | LOC = AA41;
NET YL[79]              IOSTANDARD=LVCMOS33 | LOC = AA42;
NET YL[80]              IOSTANDARD=LVCMOS33 | LOC = P35;
NET YL[81]              IOSTANDARD=LVCMOS33 | LOC = R34;
NET YL[82]              IOSTANDARD=LVCMOS33 | LOC = M36;
NET YL[83]              IOSTANDARD=LVCMOS33 | LOC = N35;
NET YL[84]              IOSTANDARD=LVCMOS33 | LOC = M37;
NET YL[85]              IOSTANDARD=LVCMOS33 | LOC = L37;
NET YL[86]              IOSTANDARD=LVCMOS33 | LOC = P36;
NET YL[87]              IOSTANDARD=LVCMOS33 | LOC = N36;
NET YL[88]              IOSTANDARD=LVCMOS33 | LOC = L35;
NET YL[89]              IOSTANDARD=LVCMOS33 | LOC = L36;
NET YL[90]              IOSTANDARD=LVCMOS33 | LOC = J35;
NET YL[91]              IOSTANDARD=LVCMOS33 | LOC = K35;
NET YL[92]              IOSTANDARD=LVCMOS33 | LOC = J36;
NET YL[93]              IOSTANDARD=LVCMOS33 | LOC = H35;
NET YL[94]              IOSTANDARD=LVCMOS33 | LOC = J37;
NET YL[95]              IOSTANDARD=LVCMOS33 | LOC = K37;
NET YL[96]              IOSTANDARD=LVCMOS33 | LOC = T35;
NET YL[97]              IOSTANDARD=LVCMOS33 | LOC = U34;
NET YL[98]              IOSTANDARD=LVCMOS33 | LOC = U33;
NET YL[99]              IOSTANDARD=LVCMOS33 | LOC = T34;
NET YL[100]             IOSTANDARD=LVCMOS33 | LOC = T36;
NET YL[101]             IOSTANDARD=LVCMOS33 | LOC = R35;
NET YL[102]             IOSTANDARD=LVCMOS33 | LOC = V36;
NET YL[103]             IOSTANDARD=LVCMOS33 | LOC = U36;
NET YL[104]             IOSTANDARD=LVCMOS33 | LOC = G37;
NET YL[105]             IOSTANDARD=LVCMOS33 | LOC = H36;
NET YL[106]             IOSTANDARD=LVCMOS33 | LOC = G36;
NET YL[107]             IOSTANDARD=LVCMOS33 | LOC = F36;
NET YL[108]             IOSTANDARD=LVCMOS33 | LOC = E37;
NET YL[109]             IOSTANDARD=LVCMOS33 | LOC = F37;
NET YL[110]             IOSTANDARD=LVCMOS33 | LOC = D37;
NET YL[111]             IOSTANDARD=LVCMOS33 | LOC = E38;
NET YL[112]             IOSTANDARD=LVCMOS33 | LOC = V34;
NET YL[113]             IOSTANDARD=LVCMOS33 | LOC = V35;
NET YL[114]             IOSTANDARD=LVCMOS33 | LOC = W33;
NET YL[115]             IOSTANDARD=LVCMOS33 | LOC = V33;
NET YL[116]             IOSTANDARD=LVCMOS33 | LOC = W32;
NET YL[117]             IOSTANDARD=LVCMOS33 | LOC = Y33;
NET YL[118]             IOSTANDARD=LVCMOS33 | LOC = AA32;
NET YL[119]             IOSTANDARD=LVCMOS33 | LOC = Y32;
NET YL[120]             IOSTANDARD=LVCMOS33 | LOC = AN31;
NET YL[121]             IOSTANDARD=LVCMOS33 | LOC = AP31;
NET YL[122]             IOSTANDARD=LVCMOS33 | LOC = AP32;
NET YL[123]             IOSTANDARD=LVCMOS33 | LOC = AR32;
NET YL[124]             IOSTANDARD=LVCMOS33 | LOC = AP33;
NET YL[125]             IOSTANDARD=LVCMOS33 | LOC = AR33;
NET YL[126]             IOSTANDARD=LVCMOS33 | LOC = AM33;
NET YL[127]             IOSTANDARD=LVCMOS33 | LOC = AN33;
NET YL[128]             IOSTANDARD=LVCMOS33 | LOC = AJ33;
NET YL[129]             IOSTANDARD=LVCMOS33 | LOC = AK33;
NET YL[130]             IOSTANDARD=LVCMOS33 | LOC = AK32;
NET YL[131]             IOSTANDARD=LVCMOS33 | LOC = AJ32;
NET YL[132]             IOSTANDARD=LVCMOS33 | LOC = AM32;
NET YL[133]             IOSTANDARD=LVCMOS33 | LOC = AL32;
NET YL[134]             IOSTANDARD=LVCMOS33 | LOC = AM31;
NET YL[135]             IOSTANDARD=LVCMOS33 | LOC = AL31;
NET YL[136]             IOSTANDARD=LVCMOS33 | LOC = F32;
NET YL[137]             IOSTANDARD=LVCMOS33 | LOC = F31;
NET YL[138]             IOSTANDARD=LVCMOS33 | LOC = E33;
NET YL[139]             IOSTANDARD=LVCMOS33 | LOC = E32;
NET YL[140]             IOSTANDARD=LVCMOS33 | LOC = K34;
NET YL[141]             IOSTANDARD=LVCMOS33 | LOC = L34;
NET YL[142]             IOSTANDARD=LVCMOS33 | LOC = J33;
NET YL[143]             IOSTANDARD=LVCMOS33 | LOC = K33;

NET Z[0]                IOSTANDARD=LVCMOS33 | LOC = C31;
NET Z[1]                IOSTANDARD=LVCMOS33 | LOC = D31;
NET Z[2]                IOSTANDARD=LVCMOS33 | LOC = C30;
NET Z[3]                IOSTANDARD=LVCMOS33 | LOC = B31;
NET Z[4]                IOSTANDARD=LVCMOS33 | LOC = A31;
NET Z[5]                IOSTANDARD=LVCMOS33 | LOC = A30;
NET Z[6]                IOSTANDARD=LVCMOS33 | LOC = B32;
NET Z[7]                IOSTANDARD=LVCMOS33 | LOC = A32;
NET Z[8]                IOSTANDARD=LVCMOS33 | LOC = C33;
NET Z[9]                IOSTANDARD=LVCMOS33 | LOC = B33;
NET Z[10]               IOSTANDARD=LVCMOS33 | LOC = D33;
NET Z[11]               IOSTANDARD=LVCMOS33 | LOC = D32;
NET Z[12]               IOSTANDARD=LVCMOS33 | LOC = B34;
NET Z[13]               IOSTANDARD=LVCMOS33 | LOC = C34;
NET Z[14]               IOSTANDARD=LVCMOS33 | LOC = A35;
NET Z[15]               IOSTANDARD=LVCMOS33 | LOC = A34;
NET Z[16]               IOSTANDARD=LVCMOS33 | LOC = D36;
NET Z[17]               IOSTANDARD=LVCMOS33 | LOC = D35;
NET Z[18]               IOSTANDARD=LVCMOS33 | LOC = C35;
NET Z[19]               IOSTANDARD=LVCMOS33 | LOC = C36;
NET Z[20]               IOSTANDARD=LVCMOS33 | LOC = A36;
NET Z[21]               IOSTANDARD=LVCMOS33 | LOC = A37;
NET Z[22]               IOSTANDARD=LVCMOS33 | LOC = B36;
NET Z[23]               IOSTANDARD=LVCMOS33 | LOC = B37;
NET Z[24]               IOSTANDARD=LVCMOS33 | LOC = D38;
NET Z[25]               IOSTANDARD=LVCMOS33 | LOC = C38;
NET Z[26]               IOSTANDARD=LVCMOS33 | LOC = C40;
NET Z[27]               IOSTANDARD=LVCMOS33 | LOC = C39;
NET Z[28]               IOSTANDARD=LVCMOS33 | LOC = B38;
NET Z[29]               IOSTANDARD=LVCMOS33 | LOC = B39;
NET Z[30]               IOSTANDARD=LVCMOS33 | LOC = A40;
NET Z[31]               IOSTANDARD=LVCMOS33 | LOC = A39;
NET Z[32]               IOSTANDARD=LVCMOS33 | LOC = B41;
NET Z[33]               IOSTANDARD=LVCMOS33 | LOC = A41;
NET Z[34]               IOSTANDARD=LVCMOS33 | LOC = C41;
NET Z[35]               IOSTANDARD=LVCMOS33 | LOC = B42;
NET Z[36]               IOSTANDARD=LVCMOS33 | LOC = D41;
NET Z[37]               IOSTANDARD=LVCMOS33 | LOC = D40;
NET Z[38]               IOSTANDARD=LVCMOS33 | LOC = D42;
NET Z[39]               IOSTANDARD=LVCMOS33 | LOC = E42;
NET Z[40]               IOSTANDARD=LVCMOS33 | LOC = AJ22;
NET Z[41]               IOSTANDARD=LVCMOS33 | LOC = AJ23;
NET Z[42]               IOSTANDARD=LVCMOS33 | LOC = AJ20;
NET Z[43]               IOSTANDARD=LVCMOS33 | LOC = AJ21;
NET Z[44]               IOSTANDARD=LVCMOS33 | LOC = AK22;
NET Z[45]               IOSTANDARD=LVCMOS33 | LOC = AK23;
NET Z[46]               IOSTANDARD=LVCMOS33 | LOC = AL20;
NET Z[47]               IOSTANDARD=LVCMOS33 | LOC = AK20;
NET Z[48]               IOSTANDARD=LVCMOS33 | LOC = AR25;
NET Z[49]               IOSTANDARD=LVCMOS33 | LOC = AP25;
NET Z[50]               IOSTANDARD=LVCMOS33 | LOC = AL21;
NET Z[51]               IOSTANDARD=LVCMOS33 | LOC = AM21;
NET Z[52]               IOSTANDARD=LVCMOS33 | LOC = AT26;
NET Z[53]               IOSTANDARD=LVCMOS33 | LOC = AT27;
NET Z[54]               IOSTANDARD=LVCMOS33 | LOC = AN20;
NET Z[55]               IOSTANDARD=LVCMOS33 | LOC = AP20;
NET Z[56]               IOSTANDARD=LVCMOS33 | LOC = AT24;
NET Z[57]               IOSTANDARD=LVCMOS33 | LOC = AT25;
NET Z[58]               IOSTANDARD=LVCMOS33 | LOC = AP21;
NET Z[59]               IOSTANDARD=LVCMOS33 | LOC = AN21;
NET Z[60]               IOSTANDARD=LVCMOS33 | LOC = AR19;
NET Z[61]               IOSTANDARD=LVCMOS33 | LOC = AR18;
NET Z[62]               IOSTANDARD=LVCMOS33 | LOC = AR24;
NET Z[63]               IOSTANDARD=LVCMOS33 | LOC = AR23;
NET Z[64]               IOSTANDARD=LVCMOS33 | LOC = AT17;
NET Z[65]               IOSTANDARD=LVCMOS33 | LOC = AT16;
NET Z[66]               IOSTANDARD=LVCMOS33 | LOC = AN24;
NET Z[67]               IOSTANDARD=LVCMOS33 | LOC = AP23;
NET Z[68]               IOSTANDARD=LVCMOS33 | LOC = AT19;
NET Z[69]               IOSTANDARD=LVCMOS33 | LOC = AR20;
NET Z[70]               IOSTANDARD=LVCMOS33 | LOC = AN23;
NET Z[71]               IOSTANDARD=LVCMOS33 | LOC = AM23;
NET Z[72]               IOSTANDARD=LVCMOS33 | LOC = AT21;
NET Z[73]               IOSTANDARD=LVCMOS33 | LOC = AT20;
NET Z[74]               IOSTANDARD=LVCMOS33 | LOC = AM22;
NET Z[75]               IOSTANDARD=LVCMOS33 | LOC = AL22;
NET Z[76]               IOSTANDARD=LVCMOS33 | LOC = AT22;
NET Z[77]               IOSTANDARD=LVCMOS33 | LOC = AU21;
NET Z[78]               IOSTANDARD=LVCMOS33 | LOC = AP22;
NET Z[79]               IOSTANDARD=LVCMOS33 | LOC = AR22;
NET Z[80]               IOSTANDARD=LVCMOS33 | LOC = N23;
NET Z[81]               IOSTANDARD=LVCMOS33 | LOC = M23;
NET Z[82]               IOSTANDARD=LVCMOS33 | LOC = N20;
NET Z[83]               IOSTANDARD=LVCMOS33 | LOC = P20;
NET Z[84]               IOSTANDARD=LVCMOS33 | LOC = P22;
NET Z[85]               IOSTANDARD=LVCMOS33 | LOC = P23;
NET Z[86]               IOSTANDARD=LVCMOS33 | LOC = N21;
NET Z[87]               IOSTANDARD=LVCMOS33 | LOC = P21;
NET Z[88]               IOSTANDARD=LVCMOS33 | LOC = M22;
NET Z[89]               IOSTANDARD=LVCMOS33 | LOC = L22;
NET Z[90]               IOSTANDARD=LVCMOS33 | LOC = M21;
NET Z[91]               IOSTANDARD=LVCMOS33 | LOC = N22;
NET Z[92]               IOSTANDARD=LVCMOS33 | LOC = K23;
NET Z[93]               IOSTANDARD=LVCMOS33 | LOC = K22;
NET Z[94]               IOSTANDARD=LVCMOS33 | LOC = H21;
NET Z[95]               IOSTANDARD=LVCMOS33 | LOC = J21;
NET Z[96]               IOSTANDARD=LVCMOS33 | LOC = J23;
NET Z[97]               IOSTANDARD=LVCMOS33 | LOC = J22;
NET Z[98]               IOSTANDARD=LVCMOS33 | LOC = H20;
NET Z[99]               IOSTANDARD=LVCMOS33 | LOC = G21;
NET Z[100]              IOSTANDARD=LVCMOS33 | LOC = G19;
NET Z[101]              IOSTANDARD=LVCMOS33 | LOC = H19;
NET Z[102]              IOSTANDARD=LVCMOS33 | LOC = F22;
NET Z[103]              IOSTANDARD=LVCMOS33 | LOC = G22;
NET Z[104]              IOSTANDARD=LVCMOS33 | LOC = G18;
NET Z[105]              IOSTANDARD=LVCMOS33 | LOC = G17;
NET Z[106]              IOSTANDARD=LVCMOS33 | LOC = G23;
NET Z[107]              IOSTANDARD=LVCMOS33 | LOC = H23;
NET Z[108]              IOSTANDARD=LVCMOS33 | LOC = H18;
NET Z[109]              IOSTANDARD=LVCMOS33 | LOC = J18;
NET Z[110]              IOSTANDARD=LVCMOS33 | LOC = G24;
NET Z[111]              IOSTANDARD=LVCMOS33 | LOC = H24;
NET Z[112]              IOSTANDARD=LVCMOS33 | LOC = J20;
NET Z[113]              IOSTANDARD=LVCMOS33 | LOC = K20;
NET Z[114]              IOSTANDARD=LVCMOS33 | LOC = J25;
NET Z[115]              IOSTANDARD=LVCMOS33 | LOC = H25;
NET Z[116]              IOSTANDARD=LVCMOS33 | LOC = L21;
NET Z[117]              IOSTANDARD=LVCMOS33 | LOC = L20;
NET Z[118]              IOSTANDARD=LVCMOS33 | LOC = H26;
NET Z[119]              IOSTANDARD=LVCMOS33 | LOC = G26;
NET Z[120]              IOSTANDARD=LVCMOS33 | LOC = E25;
NET Z[121]              IOSTANDARD=LVCMOS33 | LOC = E24;
NET Z[122]              IOSTANDARD=LVCMOS33 | LOC = E27;
NET Z[123]              IOSTANDARD=LVCMOS33 | LOC = F27;
NET Z[124]              IOSTANDARD=LVCMOS33 | LOC = F25;
NET Z[125]              IOSTANDARD=LVCMOS33 | LOC = F26;
NET Z[126]              IOSTANDARD=LVCMOS33 | LOC = E28;
NET Z[127]              IOSTANDARD=LVCMOS33 | LOC = E29;

NET ZU[128]             IOSTANDARD=LVCMOS33 | LOC = D13;
NET ZU[129]             IOSTANDARD=LVCMOS33 | LOC = C13;
NET ZU[130]             IOSTANDARD=LVCMOS33 | LOC = C11;
NET ZU[131]             IOSTANDARD=LVCMOS33 | LOC = B11;
NET ZU[132]             IOSTANDARD=LVCMOS33 | LOC = A12;
NET ZU[133]             IOSTANDARD=LVCMOS33 | LOC = B12;
NET ZU[134]             IOSTANDARD=LVCMOS33 | LOC = D12;
NET ZU[135]             IOSTANDARD=LVCMOS33 | LOC = D11;
NET ZU[136]             IOSTANDARD=LVCMOS33 | LOC = D8;
NET ZU[137]             IOSTANDARD=LVCMOS33 | LOC = C9;
NET ZU[138]             IOSTANDARD=LVCMOS33 | LOC = A10;
NET ZU[139]             IOSTANDARD=LVCMOS33 | LOC = A11;
NET ZU[140]             IOSTANDARD=LVCMOS33 | LOC = D10;
NET ZU[141]             IOSTANDARD=LVCMOS33 | LOC = C10;
NET ZU[142]             IOSTANDARD=LVCMOS33 | LOC = B9;
NET ZU[143]             IOSTANDARD=LVCMOS33 | LOC = A9;
NET ZU[144]             IOSTANDARD=LVCMOS33 | LOC = B8;
NET ZU[145]             IOSTANDARD=LVCMOS33 | LOC = C8;
NET ZU[146]             IOSTANDARD=LVCMOS33 | LOC = C6;
NET ZU[147]             IOSTANDARD=LVCMOS33 | LOC = B6;
NET ZU[148]             IOSTANDARD=LVCMOS33 | LOC = D6;
NET ZU[149]             IOSTANDARD=LVCMOS33 | LOC = D7;
NET ZU[150]             IOSTANDARD=LVCMOS33 | LOC = B7;
NET ZU[151]             IOSTANDARD=LVCMOS33 | LOC = A7;
NET ZU[152]             IOSTANDARD=LVCMOS33 | LOC = A6;
NET ZU[153]             IOSTANDARD=LVCMOS33 | LOC = A5;
NET ZU[154]             IOSTANDARD=LVCMOS33 | LOC = A4;
NET ZU[155]             IOSTANDARD=LVCMOS33 | LOC = B4;
NET ZU[156]             IOSTANDARD=LVCMOS33 | LOC = D5;
NET ZU[157]             IOSTANDARD=LVCMOS33 | LOC = C5;
NET ZU[158]             IOSTANDARD=LVCMOS33 | LOC = C4;
NET ZU[159]             IOSTANDARD=LVCMOS33 | LOC = D3;
NET ZU[160]             IOSTANDARD=LVCMOS33 | LOC = C3;
NET ZU[161]             IOSTANDARD=LVCMOS33 | LOC = B3;
NET ZU[162]             IOSTANDARD=LVCMOS33 | LOC = B1;
NET ZU[163]             IOSTANDARD=LVCMOS33 | LOC = C1;
NET ZU[164]             IOSTANDARD=LVCMOS33 | LOC = B2;
NET ZU[165]             IOSTANDARD=LVCMOS33 | LOC = A2;
NET ZU[166]             IOSTANDARD=LVCMOS33 | LOC = D2;
NET ZU[167]             IOSTANDARD=LVCMOS33 | LOC = D1;
NET ZU[168]             IOSTANDARD=LVCMOS33 | LOC = B29;
NET ZU[169]             IOSTANDARD=LVCMOS33 | LOC = A29;
NET ZU[170]             IOSTANDARD=LVCMOS33 | LOC = A26;
NET ZU[171]             IOSTANDARD=LVCMOS33 | LOC = B27;
NET ZU[172]             IOSTANDARD=LVCMOS33 | LOC = C28;
NET ZU[173]             IOSTANDARD=LVCMOS33 | LOC = C29;
NET ZU[174]             IOSTANDARD=LVCMOS33 | LOC = A27;
NET ZU[175]             IOSTANDARD=LVCMOS33 | LOC = B28;
NET ZU[176]             IOSTANDARD=LVCMOS33 | LOC = A25;
NET ZU[177]             IOSTANDARD=LVCMOS33 | LOC = B24;
NET ZU[178]             IOSTANDARD=LVCMOS33 | LOC = C25;
NET ZU[179]             IOSTANDARD=LVCMOS33 | LOC = C24;
NET ZU[180]             IOSTANDARD=LVCMOS33 | LOC = A24;
NET ZU[181]             IOSTANDARD=LVCMOS33 | LOC = B23;
NET ZU[182]             IOSTANDARD=LVCMOS33 | LOC = B26;
NET ZU[183]             IOSTANDARD=LVCMOS33 | LOC = C26;
NET ZU[184]             IOSTANDARD=LVCMOS33 | LOC = B22;
NET ZU[185]             IOSTANDARD=LVCMOS33 | LOC = C23;
NET ZU[186]             IOSTANDARD=LVCMOS33 | LOC = C20;
NET ZU[187]             IOSTANDARD=LVCMOS33 | LOC = C21;
NET ZU[188]             IOSTANDARD=LVCMOS33 | LOC = B21;
NET ZU[189]             IOSTANDARD=LVCMOS33 | LOC = A20;
NET ZU[190]             IOSTANDARD=LVCMOS33 | LOC = A22;
NET ZU[191]             IOSTANDARD=LVCMOS33 | LOC = A21;
NET ZU[192]             IOSTANDARD=LVCMOS33 | LOC = B19;
NET ZU[193]             IOSTANDARD=LVCMOS33 | LOC = A19;
NET ZU[194]             IOSTANDARD=LVCMOS33 | LOC = C19;
NET ZU[195]             IOSTANDARD=LVCMOS33 | LOC = C18;
NET ZU[196]             IOSTANDARD=LVCMOS33 | LOC = A17;
NET ZU[197]             IOSTANDARD=LVCMOS33 | LOC = A16;
NET ZU[198]             IOSTANDARD=LVCMOS33 | LOC = B18;
NET ZU[199]             IOSTANDARD=LVCMOS33 | LOC = B17;
NET ZU[200]             IOSTANDARD=LVCMOS33 | LOC = A15;
NET ZU[201]             IOSTANDARD=LVCMOS33 | LOC = A14;
NET ZU[202]             IOSTANDARD=LVCMOS33 | LOC = C16;
NET ZU[203]             IOSTANDARD=LVCMOS33 | LOC = B16;
NET ZU[204]             IOSTANDARD=LVCMOS33 | LOC = C15;
NET ZU[205]             IOSTANDARD=LVCMOS33 | LOC = C14;
NET ZU[206]             IOSTANDARD=LVCMOS33 | LOC = B14;
NET ZU[207]             IOSTANDARD=LVCMOS33 | LOC = B13;
NET ZU[208]             IOSTANDARD=LVCMOS33 | LOC = D15;
NET ZU[209]             IOSTANDARD=LVCMOS33 | LOC = E14;
NET ZU[210]             IOSTANDARD=LVCMOS33 | LOC = F14;
NET ZU[211]             IOSTANDARD=LVCMOS33 | LOC = E15;
NET ZU[212]             IOSTANDARD=LVCMOS33 | LOC = D17;
NET ZU[213]             IOSTANDARD=LVCMOS33 | LOC = D16;
NET ZU[214]             IOSTANDARD=LVCMOS33 | LOC = F15;
NET ZU[215]             IOSTANDARD=LVCMOS33 | LOC = F16;
NET ZU[216]             IOSTANDARD=LVCMOS33 | LOC = E17;
NET ZU[217]             IOSTANDARD=LVCMOS33 | LOC = F17;
NET ZU[218]             IOSTANDARD=LVCMOS33 | LOC = F20;
NET ZU[219]             IOSTANDARD=LVCMOS33 | LOC = E20;
NET ZU[220]             IOSTANDARD=LVCMOS33 | LOC = E18;
NET ZU[221]             IOSTANDARD=LVCMOS33 | LOC = D18;
NET ZU[222]             IOSTANDARD=LVCMOS33 | LOC = F19;
NET ZU[223]             IOSTANDARD=LVCMOS33 | LOC = E19;
NET ZU[224]             IOSTANDARD=LVCMOS33 | LOC = D23;
NET ZU[225]             IOSTANDARD=LVCMOS33 | LOC = D22;
NET ZU[226]             IOSTANDARD=LVCMOS33 | LOC = D20;
NET ZU[227]             IOSTANDARD=LVCMOS33 | LOC = D21;
NET ZU[228]             IOSTANDARD=LVCMOS33 | LOC = E22;
NET ZU[229]             IOSTANDARD=LVCMOS33 | LOC = F21;
NET ZU[230]             IOSTANDARD=LVCMOS33 | LOC = F24;
NET ZU[231]             IOSTANDARD=LVCMOS33 | LOC = E23;
NET ZU[232]             IOSTANDARD=LVCMOS33 | LOC = D26;
NET ZU[233]             IOSTANDARD=LVCMOS33 | LOC = D25;
NET ZU[234]             IOSTANDARD=LVCMOS33 | LOC = AN29;

NET ZL[128]             IOSTANDARD=LVCMOS33 | LOC = P11;
NET ZL[129]             IOSTANDARD=LVCMOS33 | LOC = P12;
NET ZL[130]             IOSTANDARD=LVCMOS33 | LOC = N10;
NET ZL[131]             IOSTANDARD=LVCMOS33 | LOC = P10;
NET ZL[132]             IOSTANDARD=LVCMOS33 | LOC = L12;
NET ZL[133]             IOSTANDARD=LVCMOS33 | LOC = M12;
NET ZL[134]             IOSTANDARD=LVCMOS33 | LOC = M11;
NET ZL[135]             IOSTANDARD=LVCMOS33 | LOC = N11;
NET ZL[136]             IOSTANDARD=LVCMOS33 | LOC = K10;
NET ZL[137]             IOSTANDARD=LVCMOS33 | LOC = L9;
NET ZL[138]             IOSTANDARD=LVCMOS33 | LOC = L10;
NET ZL[139]             IOSTANDARD=LVCMOS33 | LOC = L11;
NET ZL[140]             IOSTANDARD=LVCMOS33 | LOC = J12;
NET ZL[141]             IOSTANDARD=LVCMOS33 | LOC = K12;
NET ZL[142]             IOSTANDARD=LVCMOS33 | LOC = J11;
NET ZL[143]             IOSTANDARD=LVCMOS33 | LOC = J10;
NET ZL[144]             IOSTANDARD=LVCMOS33 | LOC = G13;
NET ZL[145]             IOSTANDARD=LVCMOS33 | LOC = H13;
NET ZL[146]             IOSTANDARD=LVCMOS33 | LOC = G12;
NET ZL[147]             IOSTANDARD=LVCMOS33 | LOC = H11;
NET ZL[148]             IOSTANDARD=LVCMOS33 | LOC = E13;
NET ZL[149]             IOSTANDARD=LVCMOS33 | LOC = E12;
NET ZL[150]             IOSTANDARD=LVCMOS33 | LOC = G11;
NET ZL[151]             IOSTANDARD=LVCMOS33 | LOC = F12;
NET ZL[152]             IOSTANDARD=LVCMOS33 | LOC = F11;
NET ZL[153]             IOSTANDARD=LVCMOS33 | LOC = F10;
NET ZL[154]             IOSTANDARD=LVCMOS33 | LOC = H10;
NET ZL[155]             IOSTANDARD=LVCMOS33 | LOC = H9;
NET ZL[156]             IOSTANDARD=LVCMOS33 | LOC = E9;
NET ZL[157]             IOSTANDARD=LVCMOS33 | LOC = E10;
NET ZL[158]             IOSTANDARD=LVCMOS33 | LOC = G9;
NET ZL[159]             IOSTANDARD=LVCMOS33 | LOC = F9;
NET ZL[160]             IOSTANDARD=LVCMOS33 | LOC = J8;
NET ZL[161]             IOSTANDARD=LVCMOS33 | LOC = H8;
NET ZL[162]             IOSTANDARD=LVCMOS33 | LOC = K9;
NET ZL[163]             IOSTANDARD=LVCMOS33 | LOC = K8;
NET ZL[164]             IOSTANDARD=LVCMOS33 | LOC = E8;
NET ZL[165]             IOSTANDARD=LVCMOS33 | LOC = E7;
NET ZL[166]             IOSTANDARD=LVCMOS33 | LOC = G8;
NET ZL[167]             IOSTANDARD=LVCMOS33 | LOC = F7;
NET ZL[168]             IOSTANDARD=LVCMOS33 | LOC = N24;
NET ZL[169]             IOSTANDARD=LVCMOS33 | LOC = M24;
NET ZL[170]             IOSTANDARD=LVCMOS33 | LOC = H14;
NET ZL[171]             IOSTANDARD=LVCMOS33 | LOC = G14;
NET ZL[172]             IOSTANDARD=LVCMOS33 | LOC = L24;
NET ZL[173]             IOSTANDARD=LVCMOS33 | LOC = L25;
NET ZL[174]             IOSTANDARD=LVCMOS33 | LOC = G16;
NET ZL[175]             IOSTANDARD=LVCMOS33 | LOC = H16;
NET ZL[176]             IOSTANDARD=LVCMOS33 | LOC = K24;
NET ZL[177]             IOSTANDARD=LVCMOS33 | LOC = K25;
NET ZL[178]             IOSTANDARD=LVCMOS33 | LOC = J16;
NET ZL[179]             IOSTANDARD=LVCMOS33 | LOC = J17;
NET ZL[180]             IOSTANDARD=LVCMOS33 | LOC = L26;
NET ZL[181]             IOSTANDARD=LVCMOS33 | LOC = M26;
NET ZL[182]             IOSTANDARD=LVCMOS33 | LOC = J15;
NET ZL[183]             IOSTANDARD=LVCMOS33 | LOC = H15;
NET ZL[184]             IOSTANDARD=LVCMOS33 | LOC = N25;
NET ZL[185]             IOSTANDARD=LVCMOS33 | LOC = P25;
NET ZL[186]             IOSTANDARD=LVCMOS33 | LOC = L19;
NET ZL[187]             IOSTANDARD=LVCMOS33 | LOC = K19;
NET ZL[188]             IOSTANDARD=LVCMOS33 | LOC = M19;
NET ZL[189]             IOSTANDARD=LVCMOS33 | LOC = M18;
NET ZL[190]             IOSTANDARD=LVCMOS33 | LOC = J27;
NET ZL[191]             IOSTANDARD=LVCMOS33 | LOC = J26;
NET ZL[192]             IOSTANDARD=LVCMOS33 | LOC = K18;
NET ZL[193]             IOSTANDARD=LVCMOS33 | LOC = K17;
NET ZL[194]             IOSTANDARD=LVCMOS33 | LOC = K27;
NET ZL[195]             IOSTANDARD=LVCMOS33 | LOC = J28;
NET ZL[196]             IOSTANDARD=LVCMOS33 | LOC = L17;
NET ZL[197]             IOSTANDARD=LVCMOS33 | LOC = M17;
NET ZL[198]             IOSTANDARD=LVCMOS33 | LOC = H28;
NET ZL[199]             IOSTANDARD=LVCMOS33 | LOC = G27;
NET ZL[200]             IOSTANDARD=LVCMOS33 | LOC = N19;
NET ZL[201]             IOSTANDARD=LVCMOS33 | LOC = N18;
NET ZL[202]             IOSTANDARD=LVCMOS33 | LOC = G29;
NET ZL[203]             IOSTANDARD=LVCMOS33 | LOC = G28;
NET ZL[204]             IOSTANDARD=LVCMOS33 | LOC = P18;
NET ZL[205]             IOSTANDARD=LVCMOS33 | LOC = R18;
NET ZL[206]             IOSTANDARD=LVCMOS33 | LOC = H30;
NET ZL[207]             IOSTANDARD=LVCMOS33 | LOC = H29;
NET ZL[208]             IOSTANDARD=LVCMOS33 | LOC = N34;
NET ZL[209]             IOSTANDARD=LVCMOS33 | LOC = N33;
NET ZL[210]             IOSTANDARD=LVCMOS33 | LOC = M33;
NET ZL[211]             IOSTANDARD=LVCMOS33 | LOC = M34;
NET ZL[212]             IOSTANDARD=LVCMOS33 | LOC = M31;
NET ZL[213]             IOSTANDARD=LVCMOS33 | LOC = M32;
NET ZL[214]             IOSTANDARD=LVCMOS33 | LOC = P31;
NET ZL[215]             IOSTANDARD=LVCMOS33 | LOC = N31;
NET ZL[216]             IOSTANDARD=LVCMOS33 | LOC = G34;
NET ZL[217]             IOSTANDARD=LVCMOS33 | LOC = H34;
NET ZL[218]             IOSTANDARD=LVCMOS33 | LOC = H33;
NET ZL[219]             IOSTANDARD=LVCMOS33 | LOC = G33;
NET ZL[220]             IOSTANDARD=LVCMOS33 | LOC = G31;
NET ZL[221]             IOSTANDARD=LVCMOS33 | LOC = G32;
NET ZL[222]             IOSTANDARD=LVCMOS33 | LOC = J31;
NET ZL[223]             IOSTANDARD=LVCMOS33 | LOC = H31;
NET ZL[224]             IOSTANDARD=LVCMOS33 | LOC = E35;
NET ZL[225]             IOSTANDARD=LVCMOS33 | LOC = F35;
NET ZL[226]             IOSTANDARD=LVCMOS33 | LOC = F34;
NET ZL[227]             IOSTANDARD=LVCMOS33 | LOC = E34;
NET ZL[228]             IOSTANDARD=LVCMOS33 | LOC = D28;
NET ZL[229]             IOSTANDARD=LVCMOS33 | LOC = D27;
NET ZL[230]             IOSTANDARD=LVCMOS33 | LOC = F29;
NET ZL[231]             IOSTANDARD=LVCMOS33 | LOC = F30;
NET ZL[232]             IOSTANDARD=LVCMOS33 | LOC = E30;
NET ZL[233]             IOSTANDARD=LVCMOS33 | LOC = D30;
NET ZL[234]             IOSTANDARD=LVCMOS33 | LOC = AM14;

NET RAM_A_SD[0]         IOSTANDARD=LVCMOS33 | LOC = BB36  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[1]         IOSTANDARD=LVCMOS33 | LOC = AW35  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[2]         IOSTANDARD=LVCMOS33 | LOC = AY35  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[3]         IOSTANDARD=LVCMOS33 | LOC = BA35  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[4]         IOSTANDARD=LVCMOS33 | LOC = BB34  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[5]         IOSTANDARD=LVCMOS33 | LOC = BA34  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[6]         IOSTANDARD=LVCMOS33 | LOC = BB33  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[7]         IOSTANDARD=LVCMOS33 | LOC = AY34  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[8]         IOSTANDARD=LVCMOS33 | LOC = AY33  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[9]         IOSTANDARD=LVCMOS33 | LOC = AW32  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[10]        IOSTANDARD=LVCMOS33 | LOC = AW33  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[11]        IOSTANDARD=LVCMOS33 | LOC = BA32  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[12]        IOSTANDARD=LVCMOS33 | LOC = AY32  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[13]        IOSTANDARD=LVCMOS33 | LOC = BB31  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[14]        IOSTANDARD=LVCMOS33 | LOC = BB32  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[15]        IOSTANDARD=LVCMOS33 | LOC = BA31  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[16]        IOSTANDARD=LVCMOS33 | LOC = BA30  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[17]        IOSTANDARD=LVCMOS33 | LOC = AW31  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[18]        IOSTANDARD=LVCMOS33 | LOC = AY30  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[19]        IOSTANDARD=LVCMOS33 | LOC = AK13  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[20]        IOSTANDARD=LVCMOS33 | LOC = AJ13  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[21]        IOSTANDARD=LVCMOS33 | LOC = AK29  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[22]        IOSTANDARD=LVCMOS33 | LOC = AJ28  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[23]        IOSTANDARD=LVCMOS33 | LOC = AL14  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[24]        IOSTANDARD=LVCMOS33 | LOC = AL15  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[25]        IOSTANDARD=LVCMOS33 | LOC = AJ27  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[26]        IOSTANDARD=LVCMOS33 | LOC = AJ26  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[27]        IOSTANDARD=LVCMOS33 | LOC = R27  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[28]        IOSTANDARD=LVCMOS33 | LOC = R28  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[29]        IOSTANDARD=LVCMOS33 | LOC = N13  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[30]        IOSTANDARD=LVCMOS33 | LOC = M13  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[31]        IOSTANDARD=LVCMOS33 | LOC = P26  | PULLDOWN | SLEW=FAST;

NET RAM_A_SD[32]        IOSTANDARD=LVCMOS33 | LOC = P27  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[33]        IOSTANDARD=LVCMOS33 | LOC = R17  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[34]        IOSTANDARD=LVCMOS33 | LOC = P17  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[35]        IOSTANDARD=LVCMOS33 | LOC = P28  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[36]        IOSTANDARD=LVCMOS33 | LOC = N28  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[37]        IOSTANDARD=LVCMOS33 | LOC = P15  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[38]        IOSTANDARD=LVCMOS33 | LOC = N15  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[39]        IOSTANDARD=LVCMOS33 | LOC = M29  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[40]        IOSTANDARD=LVCMOS33 | LOC = N29  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[41]        IOSTANDARD=LVCMOS33 | LOC = P13  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[42]        IOSTANDARD=LVCMOS33 | LOC = N14  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[43]        IOSTANDARD=LVCMOS33 | LOC = N30  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[44]        IOSTANDARD=LVCMOS33 | LOC = P30  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[45]        IOSTANDARD=LVCMOS33 | LOC = R15  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[46]        IOSTANDARD=LVCMOS33 | LOC = P16  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[47]        IOSTANDARD=LVCMOS33 | LOC = AK27  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[48]        IOSTANDARD=LVCMOS33 | LOC = AK28  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[49]        IOSTANDARD=LVCMOS33 | LOC = AK17  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[50]        IOSTANDARD=LVCMOS33 | LOC = AL16  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[51]        IOSTANDARD=LVCMOS33 | LOC = AN30  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[52]        IOSTANDARD=LVCMOS33 | LOC = AM29  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[53]        IOSTANDARD=LVCMOS33 | LOC = AM16  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[54]        IOSTANDARD=LVCMOS33 | LOC = AN16  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[55]        IOSTANDARD=LVCMOS33 | LOC = AH30  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[56]        IOSTANDARD=LVCMOS33 | LOC = AJ17  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[57]        IOSTANDARD=LVCMOS33 | LOC = AJ16  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[58]        IOSTANDARD=LVCMOS33 | LOC = AJ30  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[59]        IOSTANDARD=LVCMOS33 | LOC = AK30  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[60]        IOSTANDARD=LVCMOS33 | LOC = AK15  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[61]        IOSTANDARD=LVCMOS33 | LOC = AL29  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[62]        IOSTANDARD=LVCMOS33 | LOC = AM26  | PULLDOWN | SLEW=FAST;
NET RAM_A_SD[63]        IOSTANDARD=LVCMOS33 | LOC = AL26  | PULLDOWN | SLEW=FAST;

NET RAM_A_SnCE0         IOSTANDARD=LVCMOS33 | LOC = AR27  | SLEW=FAST;
NET RAM_A_SnCE1         IOSTANDARD=LVCMOS33 | LOC = AP26  | SLEW=FAST;
NET RAM_A_SCLK0         IOSTANDARD=LVCMOS33 | LOC = AP17  | SLEW=FAST;
NET RAM_A_SCLK1         IOSTANDARD=LVCMOS33 | LOC = AN18  | SLEW=FAST;

NET RAM_A_SnWBYTE[0]    IOSTANDARD=LVCMOS33 | LOC = AL17  | SLEW=FAST;
NET RAM_A_SnWBYTE[1]    IOSTANDARD=LVCMOS33 | LOC = AK18  | SLEW=FAST;
NET RAM_A_SnWBYTE[2]    IOSTANDARD=LVCMOS33 | LOC = AP27  | SLEW=FAST;
NET RAM_A_SnWBYTE[3]    IOSTANDARD=LVCMOS33 | LOC = AP28  | SLEW=FAST;
NET RAM_A_SnWBYTE[4]    IOSTANDARD=LVCMOS33 | LOC = AM17  | SLEW=FAST;
NET RAM_A_SnWBYTE[5]    IOSTANDARD=LVCMOS33 | LOC = AM18  | SLEW=FAST;
NET RAM_A_SnWBYTE[6]    IOSTANDARD=LVCMOS33 | LOC = AN25  | SLEW=FAST;
NET RAM_A_SnWBYTE[7]    IOSTANDARD=LVCMOS33 | LOC = AN26  | SLEW=FAST;

NET RAM_A_SA[3]         IOSTANDARD=LVCMOS33 | LOC = AW42  | SLEW=FAST;
NET RAM_A_SA[4]         IOSTANDARD=LVCMOS33 | LOC = AY42  | SLEW=FAST;
NET RAM_A_SA[5]         IOSTANDARD=LVCMOS33 | LOC = AW40  | SLEW=FAST;
NET RAM_A_SA[6]         IOSTANDARD=LVCMOS33 | LOC = AW41  | SLEW=FAST;
NET RAM_A_SA[7]         IOSTANDARD=LVCMOS33 | LOC = BA41  | SLEW=FAST;
NET RAM_A_SA[8]         IOSTANDARD=LVCMOS33 | LOC = AY40  | SLEW=FAST;
NET RAM_A_SA[9]         IOSTANDARD=LVCMOS33 | LOC = BB41  | SLEW=FAST;
NET RAM_A_SA[10]        IOSTANDARD=LVCMOS33 | LOC = BA42  | SLEW=FAST;
NET RAM_A_SA[11]        IOSTANDARD=LVCMOS33 | LOC = BB39  | SLEW=FAST;
NET RAM_A_SA[12]        IOSTANDARD=LVCMOS33 | LOC = BA40  | SLEW=FAST;
NET RAM_A_SA[13]        IOSTANDARD=LVCMOS33 | LOC = BA39  | SLEW=FAST;
NET RAM_A_SA[14]        IOSTANDARD=LVCMOS33 | LOC = BB38  | SLEW=FAST;
NET RAM_A_SA[15]        IOSTANDARD=LVCMOS33 | LOC = AW37  | SLEW=FAST;
NET RAM_A_SA[16]        IOSTANDARD=LVCMOS33 | LOC = AY38  | SLEW=FAST;
NET RAM_A_SA[17]        IOSTANDARD=LVCMOS33 | LOC = AY39  | SLEW=FAST;
NET RAM_A_SA[18]        IOSTANDARD=LVCMOS33 | LOC = AW38  | SLEW=FAST;
NET RAM_A_SA[19]        IOSTANDARD=LVCMOS33 | LOC = BA37  | SLEW=FAST;
NET RAM_A_SA[20]        IOSTANDARD=LVCMOS33 | LOC = BB37  | SLEW=FAST;
NET RAM_A_SA[21]        IOSTANDARD=LVCMOS33 | LOC = AW36  | SLEW=FAST;
NET RAM_A_SA[22]        IOSTANDARD=LVCMOS33 | LOC = AY37  | SLEW=FAST;
NET RAM_A_SA[23]        IOSTANDARD=LVCMOS33 | LOC = BA36  | SLEW=FAST;

NET RAM_A_SnOE          IOSTANDARD=LVCMOS33 | LOC = AN19;
NET RAM_A_SADVnLD       IOSTANDARD=LVCMOS33 | LOC = AR29;
NET RAM_A_SnWE          IOSTANDARD=LVCMOS33 | LOC = AR28  | SLEW=FAST;
NET RAM_A_SnCKE         IOSTANDARD=LVCMOS33 | LOC = AP15;
NET RAM_A_SMODE         IOSTANDARD=LVCMOS33 | LOC = AP18;

NET RAM_B_SD[0]         IOSTANDARD=LVCMOS33 | LOC = AV21  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[1]         IOSTANDARD=LVCMOS33 | LOC = AW20  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[2]         IOSTANDARD=LVCMOS33 | LOC = AW21  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[3]         IOSTANDARD=LVCMOS33 | LOC = AU19  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[4]         IOSTANDARD=LVCMOS33 | LOC = AU18  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[5]         IOSTANDARD=LVCMOS33 | LOC = AV19  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[6]         IOSTANDARD=LVCMOS33 | LOC = AW18  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[7]         IOSTANDARD=LVCMOS33 | LOC = AU16  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[8]         IOSTANDARD=LVCMOS33 | LOC = AU17  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[9]         IOSTANDARD=LVCMOS33 | LOC = AV18  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[10]        IOSTANDARD=LVCMOS33 | LOC = AW17  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[11]        IOSTANDARD=LVCMOS33 | LOC = AW13  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[12]        IOSTANDARD=LVCMOS33 | LOC = AV13  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[13]        IOSTANDARD=LVCMOS33 | LOC = AV16  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[14]        IOSTANDARD=LVCMOS33 | LOC = AW16  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[15]        IOSTANDARD=LVCMOS33 | LOC = AV14  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[16]        IOSTANDARD=LVCMOS33 | LOC = AU14  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[17]        IOSTANDARD=LVCMOS33 | LOC = AV15  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[18]        IOSTANDARD=LVCMOS33 | LOC = AW15  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[19]        IOSTANDARD=LVCMOS33 | LOC = BA14  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[20]        IOSTANDARD=LVCMOS33 | LOC = BB13  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[21]        IOSTANDARD=LVCMOS33 | LOC = AY15  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[22]        IOSTANDARD=LVCMOS33 | LOC = AY14  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[23]        IOSTANDARD=LVCMOS33 | LOC = BA16  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[24]        IOSTANDARD=LVCMOS33 | LOC = BB16  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[25]        IOSTANDARD=LVCMOS33 | LOC = BB14  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[26]        IOSTANDARD=LVCMOS33 | LOC = BA15  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[27]        IOSTANDARD=LVCMOS33 | LOC = BB19  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[28]        IOSTANDARD=LVCMOS33 | LOC = BB18  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[29]        IOSTANDARD=LVCMOS33 | LOC = BA17  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[30]        IOSTANDARD=LVCMOS33 | LOC = BB17  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[31]        IOSTANDARD=LVCMOS33 | LOC = BA19  | PULLDOWN | SLEW=FAST;

NET RAM_B_SD[32]        IOSTANDARD=LVCMOS33 | LOC = AY19  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[33]        IOSTANDARD=LVCMOS33 | LOC = AY18  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[34]        IOSTANDARD=LVCMOS33 | LOC = AY17  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[35]        IOSTANDARD=LVCMOS33 | LOC = BA22  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[36]        IOSTANDARD=LVCMOS33 | LOC = BA21  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[37]        IOSTANDARD=LVCMOS33 | LOC = BB22  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[38]        IOSTANDARD=LVCMOS33 | LOC = BB21  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[39]        IOSTANDARD=LVCMOS33 | LOC = AY20  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[40]        IOSTANDARD=LVCMOS33 | LOC = BA20  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[41]        IOSTANDARD=LVCMOS33 | LOC = AY23  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[42]        IOSTANDARD=LVCMOS33 | LOC = AY22  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[43]        IOSTANDARD=LVCMOS33 | LOC = AY24  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[44]        IOSTANDARD=LVCMOS33 | LOC = AY25  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[45]        IOSTANDARD=LVCMOS33 | LOC = BA24  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[46]        IOSTANDARD=LVCMOS33 | LOC = BB23  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[47]        IOSTANDARD=LVCMOS33 | LOC = BA26  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[48]        IOSTANDARD=LVCMOS33 | LOC = BB26  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[49]        IOSTANDARD=LVCMOS33 | LOC = BA25  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[50]        IOSTANDARD=LVCMOS33 | LOC = BB24  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[51]        IOSTANDARD=LVCMOS33 | LOC = BB27  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[52]        IOSTANDARD=LVCMOS33 | LOC = BA27  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[53]        IOSTANDARD=LVCMOS33 | LOC = AY28  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[54]        IOSTANDARD=LVCMOS33 | LOC = AY27  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[55]        IOSTANDARD=LVCMOS33 | LOC = BB28  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[56]        IOSTANDARD=LVCMOS33 | LOC = BB29  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[57]        IOSTANDARD=LVCMOS33 | LOC = AY29  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[58]        IOSTANDARD=LVCMOS33 | LOC = BA29  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[59]        IOSTANDARD=LVCMOS33 | LOC = AR15  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[60]        IOSTANDARD=LVCMOS33 | LOC = AR14  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[61]        IOSTANDARD=LVCMOS33 | LOC = AR13  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[62]        IOSTANDARD=LVCMOS33 | LOC = AR30  | PULLDOWN | SLEW=FAST;
NET RAM_B_SD[63]        IOSTANDARD=LVCMOS33 | LOC = AT30  | PULLDOWN | SLEW=FAST;

NET RAM_B_SnCE0         IOSTANDARD=LVCMOS33 | LOC = AK24  | SLEW=FAST;
NET RAM_B_SnCE1         IOSTANDARD=LVCMOS33 | LOC = AJ25  | SLEW=FAST;
NET RAM_B_SCLK0         IOSTANDARD=LVCMOS33 | LOC = AJ18  | SLEW=FAST;
NET RAM_B_SCLK1         IOSTANDARD=LVCMOS33 | LOC = AK19  | SLEW=FAST;

NET RAM_B_SnWBYTE[0]    IOSTANDARD=LVCMOS33 | LOC = AR17  | SLEW=FAST;
NET RAM_B_SnWBYTE[1]    IOSTANDARD=LVCMOS33 | LOC = AP16  | SLEW=FAST;
NET RAM_B_SnWBYTE[2]    IOSTANDARD=LVCMOS33 | LOC = AT29  | SLEW=FAST;
NET RAM_B_SnWBYTE[3]    IOSTANDARD=LVCMOS33 | LOC = AU29  | SLEW=FAST;
NET RAM_B_SnWBYTE[4]    IOSTANDARD=LVCMOS33 | LOC = AT15  | SLEW=FAST;
NET RAM_B_SnWBYTE[5]    IOSTANDARD=LVCMOS33 | LOC = AT14  | SLEW=FAST;
NET RAM_B_SnWBYTE[6]    IOSTANDARD=LVCMOS33 | LOC = AM24  | SLEW=FAST;
NET RAM_B_SnWBYTE[7]    IOSTANDARD=LVCMOS33 | LOC = AL25  | SLEW=FAST;

NET RAM_B_SA[3]         IOSTANDARD=LVCMOS33 | LOC = AW28  | SLEW=FAST;
NET RAM_B_SA[4]         IOSTANDARD=LVCMOS33 | LOC = AV29  | SLEW=FAST;
NET RAM_B_SA[5]         IOSTANDARD=LVCMOS33 | LOC = AU26  | SLEW=FAST;
NET RAM_B_SA[6]         IOSTANDARD=LVCMOS33 | LOC = AV26  | SLEW=FAST;
NET RAM_B_SA[7]         IOSTANDARD=LVCMOS33 | LOC = AW30  | SLEW=FAST;
NET RAM_B_SA[8]         IOSTANDARD=LVCMOS33 | LOC = AV30  | SLEW=FAST;
NET RAM_B_SA[9]         IOSTANDARD=LVCMOS33 | LOC = AU24  | SLEW=FAST;
NET RAM_B_SA[10]        IOSTANDARD=LVCMOS33 | LOC = AV25  | SLEW=FAST;
NET RAM_B_SA[11]        IOSTANDARD=LVCMOS33 | LOC = AU27  | SLEW=FAST;
NET RAM_B_SA[12]        IOSTANDARD=LVCMOS33 | LOC = AU28  | SLEW=FAST;
NET RAM_B_SA[13]        IOSTANDARD=LVCMOS33 | LOC = AW22  | SLEW=FAST;
NET RAM_B_SA[14]        IOSTANDARD=LVCMOS33 | LOC = AW23  | SLEW=FAST;
NET RAM_B_SA[15]        IOSTANDARD=LVCMOS33 | LOC = AV28  | SLEW=FAST;
NET RAM_B_SA[16]        IOSTANDARD=LVCMOS33 | LOC = AW27  | SLEW=FAST;
NET RAM_B_SA[17]        IOSTANDARD=LVCMOS33 | LOC = AV23  | SLEW=FAST;
NET RAM_B_SA[18]        IOSTANDARD=LVCMOS33 | LOC = AV24  | SLEW=FAST;
NET RAM_B_SA[19]        IOSTANDARD=LVCMOS33 | LOC = AW25  | SLEW=FAST;
NET RAM_B_SA[20]        IOSTANDARD=LVCMOS33 | LOC = AW26  | SLEW=FAST;
NET RAM_B_SA[21]        IOSTANDARD=LVCMOS33 | LOC = AU22  | SLEW=FAST;
NET RAM_B_SA[22]        IOSTANDARD=LVCMOS33 | LOC = AU23  | SLEW=FAST;
NET RAM_B_SA[23]        IOSTANDARD=LVCMOS33 | LOC = AV20  | SLEW=FAST;

NET RAM_B_SnOE          IOSTANDARD=LVCMOS33 | LOC = AH16;
NET RAM_B_SADVnLD       IOSTANDARD=LVCMOS33 | LOC = AH29;
NET RAM_B_SnWE          IOSTANDARD=LVCMOS33 | LOC = AM27  | SLEW=FAST;
NET RAM_B_SnCKE         IOSTANDARD=LVCMOS33 | LOC = K14;
NET RAM_B_SMODE         IOSTANDARD=LVCMOS33 | LOC = AM19;

# Flash not used; keep not-selected:
NET FnCE                IOSTANDARD=LVCMOS33 | LOC = AK14;

NET nXL_FOLD            IOSTANDARD=LVCMOS33 | LOC = AP6;
NET nXU_FOLD            IOSTANDARD=LVCMOS33 | LOC = AP7;
NET nX_THRU             IOSTANDARD=LVCMOS33 | LOC = AV4;
NET nYL_FOLD            IOSTANDARD=LVCMOS33 | LOC = AV5;
NET nYU_FOLD            IOSTANDARD=LVCMOS33 | LOC = AT4;
NET nY_THRU             IOSTANDARD=LVCMOS33 | LOC = AU4;
NET nZL_FOLD            IOSTANDARD=LVCMOS33 | LOC = AT6;
NET nZU_FOLD            IOSTANDARD=LVCMOS33 | LOC = AT5;
NET nZ_THRU             IOSTANDARD=LVCMOS33 | LOC = AU3;

NET USER_SW[0]          IOSTANDARD=LVCMOS33 | LOC = AM12;
NET USER_SW[1]          IOSTANDARD=LVCMOS33 | LOC = AM11;
NET USER_SW[2]          IOSTANDARD=LVCMOS33 | LOC = AN11;
NET USER_SW[3]          IOSTANDARD=LVCMOS33 | LOC = AP10;
NET USER_SW[4]          IOSTANDARD=LVCMOS33 | LOC = AN8;
NET USER_SW[5]          IOSTANDARD=LVCMOS33 | LOC = AM8;
NET USER_SW[6]          IOSTANDARD=LVCMOS33 | LOC = AM7;
NET USER_SW[7]          IOSTANDARD=LVCMOS33 | LOC = AN6;

NET USER_LED[0]         IOSTANDARD=LVCMOS33 | LOC = AJ12;
NET USER_LED[1]         IOSTANDARD=LVCMOS33 | LOC = AK12;
NET USER_LED[2]         IOSTANDARD=LVCMOS33 | LOC = AJ10;
NET USER_LED[3]         IOSTANDARD=LVCMOS33 | LOC = AJ11;
NET USER_LED[4]         IOSTANDARD=LVCMOS33 | LOC = AK10;
NET USER_LED[5]         IOSTANDARD=LVCMOS33 | LOC = AL10;
NET USER_LED[6]         IOSTANDARD=LVCMOS33 | LOC = AL11;
NET USER_LED[7]         IOSTANDARD=LVCMOS33 | LOC = AL12;

NET nPB                 IOSTANDARD=LVCMOS33 | LOC = AL30;
NET CLK_GLBL_nEN        IOSTANDARD=LVCMOS33 | LOC = AJ15;

NET CLK_STROBE[0]       IOSTANDARD=LVCMOS33 | LOC = M16;
NET CLK_STROBE[1]       IOSTANDARD=LVCMOS33 | LOC = U31;
NET CLK_STROBE[2]       IOSTANDARD=LVCMOS33 | LOC = T31;
NET CLK_DATA            IOSTANDARD=LVCMOS33 | LOC = AM13;
NET CLK_SCLK            IOSTANDARD=LVCMOS33 | LOC = AP30;

NET D_nSRST             IOSTANDARD=LVCMOS33 | LOC = J32;
NET D_nTRST             IOSTANDARD=LVCMOS33 | LOC = K32;
NET D_TDI               IOSTANDARD=LVCMOS33 | LOC = L31;
NET D_RTCK              IOSTANDARD=LVCMOS33 | LOC = L32;
NET D_TCK               IOSTANDARD=LVCMOS33 | LOC = P32;
NET D_TDO               IOSTANDARD=LVCMOS33 | LOC = P33;
NET FPGA_D_TMS          IOSTANDARD=LVCMOS33 | LOC = R32;

NET nSYSPOR             IOSTANDARD=LVCMOS33 | LOC = R33;
NET nSYSRST             IOSTANDARD=LVCMOS33 | LOC = U32;

NET CLK_NEG_DN_OUT      IOSTANDARD=LVCMOS33 | LOC = AN14;
NET CLK_NEG_UP_OUT      IOSTANDARD=LVCMOS33 | LOC = AN28;
NET CLK_POS_DN_OUT      IOSTANDARD=LVCMOS33 | LOC = AN15;
NET CLK_POS_UP_OUT      IOSTANDARD=LVCMOS33 | LOC = AM28;
NET CLK_NEG_DN_IN       IOSTANDARD=LVCMOS33 | LOC = K29;
NET CLK_NEG_UP_IN       IOSTANDARD=LVCMOS33 | LOC = L14;
NET CLK_POS_DN_IN       IOSTANDARD=LVCMOS33 | LOC = K28;
NET CLK_POS_UP_IN       IOSTANDARD=LVCMOS33 | LOC = M14;
NET CLK0                IOSTANDARD=LVCMOS33 | LOC = AE40;
NET CLK1                IOSTANDARD=LVCMOS33 | LOC = AB39;
NET CLK2                IOSTANDARD=LVCMOS33 | LOC = AB37;
NET CLK_24MHZ_FPGA      IOSTANDARD=LVCMOS33 | LOC = N16;
NET CLK_BUF_LOOP        IOSTANDARD=LVCMOS33 | LOC = J30;
NET CLK_EXTERN          IOSTANDARD=LVCMOS33 | LOC = AL27;
NET CLK_GLOBAL_IN       IOSTANDARD=LVCMOS33 | LOC = L29;
NET CLK_GLOBAL_OUT      IOSTANDARD=LVCMOS33 | LOC = L30;
NET CLK_IN_MINUS1       IOSTANDARD=LVCMOS33 | LOC = M27;
NET CLK_IN_MINUS2       IOSTANDARD=LVCMOS33 | LOC = K15;
NET CLK_IN_PLUS1        IOSTANDARD=LVCMOS33 | LOC = L27;
NET CLK_IN_PLUS2        IOSTANDARD=LVCMOS33 | LOC = K13;
NET CLK_LOOP0_IN        IOSTANDARD=LVCMOS33 | LOC = AP13;
NET CLK_LOOP0_OUT       IOSTANDARD=LVCMOS33 | LOC = AN13;
NET CLK_LOOP1_IN        IOSTANDARD=LVCMOS33 | LOC = L15;
NET CLK_LOOP1_OUT       IOSTANDARD=LVCMOS33 | LOC = L16;
NET CLK_OUT_TO_BUF      IOSTANDARD=LVCMOS33 | LOC = K30;

################################################################################

NET XL[*] FAST;
NET YL[*] FAST;

NET "CLK_24MHZ_FPGA" TNM_NET = "CLK_24MHZ_FPGA";
TIMESPEC "TS_CLK_24MHZ_FPGA" = PERIOD "CLK_24MHZ_FPGA" 41 ns HIGH 50 %;

# E.g. for using CLK2 as pixel clock: Anticipate 100MHz
# NET "CLK2" TNM_NET = "CLK2";
# TIMESPEC "TS_CLK2" = PERIOD "CLK2" 10 ns HIGH 50 %;
# NET "CLK2" CLOCK_DEDICATED_ROUTE = FALSE;
